<div class="row p-1 mb-3">
    <div class="col">
        <nav class="navbar navbar-dark bg-primary py-0" id="login-top-nav">
            <div class="mx-auto">
                <a class="navbar-brand" href="{{ url_for('bombadillo.explore') }}">
                    <svg width="122px" height="45px" viewBox="0 0 122 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Group">
                                <rect id="Rectangle" fill="#2D3D50" x="0" y="0" width="122" height="45"></rect>
                                <text id="junk" font-family="Lato-Bold, Lato" font-size="28" font-weight="bold" letter-spacing="-0.8" fill="#FFFFFF">
                                    <tspan x="10.5" y="32">junk</tspan>
                                </text>
                                <polygon id="Rectangle" fill="#2D3D50" points="58.5482826 31.6740112 60.179306 32.2377167 59.0792657 32.2377167"></polygon>
                                <text id="ite" font-family="Lato-Bold, Lato" font-size="28" font-weight="bold" fill="#FFFFFF">
                                    <tspan x="84" y="32">ite</tspan>
                                </text>
                                <path d="M70.5419789,4.5 L73.7028608,5.30358809 L72.4673088,10.3357731 L74.9438249,10.874584 L76.2397375,5.94094557 L79.3404564,6.69526592 C79.0853926,7.70832978 78.9578607,8.26220566 78.9578607,8.35689355 C78.9732348,8.59163497 79.2230504,8.80573848 79.7073074,8.99920409 C78.6009145,9.47660947 77.9853712,10.1017361 77.8606776,10.874584 C77.7359839,11.647432 78.1467502,12.4261987 79.0929764,13.2108843 C78.3199836,14.2239543 78.1489029,15.2299516 78.5797342,16.2288762 C79.0105655,17.2278009 79.7409956,17.7583715 80.7710245,17.8205881 C80.3279603,18.9922711 80.4949691,19.8751309 81.272051,20.4691675 C82.0491329,21.0632042 82.9712052,21.0791338 84.038268,20.5169563 C84.038268,20.5977847 83.8690084,20.8978778 83.5304892,21.4172357 C83.19197,21.9365937 82.223325,22.7121926 80.6245542,23.7440325 C83.7714178,25.5629356 84.57783,28.3814949 83.0437908,32.1997105 C81.7064886,35.5282486 78.0921531,36.6886953 72.2007844,35.6810508 L70.8009958,40.8183916 L67.6933061,40.0141306 L68.973386,34.8968609 L66.5357094,34.2128845 L65.0632168,39.481361 L62.0446929,38.6756816 L63.2895212,33.4085033 L58.5482826,31.6740112 L60.4562499,28.8561299 C61.0213605,28.9402003 61.5098165,28.8092161 61.9216178,28.4631774 C62.3655713,28.103487 63.2660018,24.3589154 64.2327868,20.5169563 C65.1335346,16.9374264 65.9425388,13.5043394 65.815548,13.2108843 C65.4570957,12.3825594 64.200144,11.8027615 62.0446929,11.4714907 L62.8618676,8.07049177 L69.1936529,9.57341403 L70.5419789,4.5 Z M69.2197726,23.5577067 L67.5997142,30.3315734 C73.4244477,32.1600744 76.6262083,31.7581727 77.2049962,29.1258684 C77.783784,26.4935641 75.1220428,24.6375102 69.2197726,23.5577067 L69.2197726,23.5577067 Z M71.5826063,14.1430945 L70.0293728,20.3860365 C74.9104352,21.857617 77.6379856,21.396655 78.2120241,19.0031507 C78.7860625,16.6096463 76.5762566,14.9896276 71.5826063,14.1430945 L71.5826063,14.1430945 Z" id="Combined-Shape" fill="#F89E32"></path>
                                <g id="Group-4" transform="translate(83.000000, 7.000000)">
                                    <rect id="Rectangle" fill="#2D3D50" x="1" y="7" width="6" height="3"></rect>
                                    <path d="M4.45796842,9 C7.22092213,9 9,7.07702665 9,4.5 C9,1.92297335 7.43911934,0 4.45796842,0 C1.47681749,0 0,1.92845596 0,4.5054826 C0,7.08250925 1.6950147,9 4.45796842,9 Z" id="Oval" fill="#781AEF"></path>
                                    <path d="M0.908799912,4.953817 C0.884234109,4.88459396 0.916152717,4.81622273 0.94274775,4.79451607 C3.59134092,2.8485108 4.17445996,2.45587884 6.29976955,0.934847738 C6.35107071,0.90321022 6.45354016,0.887213254 6.51766844,0.912443345 C6.58179672,0.937673437 6.62123339,1.0170672 6.60638665,1.05548059 C6.11569454,1.99384939 5.57091475,2.93378941 4.97204728,3.87530065 C6.00031937,3.86259974 7.00478199,3.86259974 7.98543515,3.87530065 C8.01495457,3.87530065 8.07269032,3.87530065 8.09486501,3.94426988 C8.11703971,4.0132391 8.06134919,4.0574825 8.04270518,4.07215709 C6.2851404,5.45552628 4.45767209,6.75518415 2.65582548,8.06347689 C2.59182082,8.10845507 2.43257077,8.115757 2.35601358,8.06347689 C2.27945639,8.01119678 2.28822005,7.88528149 2.32176468,7.83535022 C2.83069622,6.8966323 3.38714091,5.96737642 3.99109875,5.04758257 C2.99724625,5.07075284 2.01145,5.06746622 1.03370999,5.03772272 C0.998069527,5.03772272 0.933365714,5.02304004 0.908799912,4.953817 Z" id="Rectangle" fill="#FFFFFF"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </nav>
        <div class="card pl-3 pr-3" id="login-card" style="background-color: #fafafa;">
            <ul class="nav justify-content-center mt-3" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                </li>
            </ul>
            <hr>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                    <form method="post" action="{{ url_for('auth.login') }}">
                        <div class="form-group row">
                            <div class="col">
                                <input type="username" class="form-control" id="loginUsername" name="username" placeholder="Username" autocomplete="off" onkeyup="return forceLower(this);">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <input id="loginPassword" type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        {% include 'auth/_login_flashed_messages.html' %}
                        <div class="form-group row">
                            <div class="col">
                                <button class="btn btn-primary"type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                    <div class="separator text-muted h6">OR</div>
                    <div class="row ml-2">
                        <a class="col" href="{{ url_for('bombadillo.explore') }}">Explore now</a>
                        <p class="col float-right">
                            <a href="{{ url_for('auth.reset_password_request') }}"><small>Forgot Password?</small></a>
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                    <form method="post" action="{{ url_for('auth.register') }}">
                        <div class="form-group row">
                            <div class="col">
                                <input type="username" class="form-control" id="registerUsername" name="username" placeholder="Username" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <input id="registerPassword" type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <input type="email" class="form-control" name="email" placeholder="Email" id="email" autocomplete="nope"/>
                                <small class="text-muted">Optional. Used for password reset and notifications</small>
                            </div>
                        </div>
                        <div style="width: 50%">
                            <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" style="transform:scale(0.9);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <button class="btn btn-primary" type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                    {% include 'auth/_login_flashed_messages.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-2">
    <h3 class="text-muted">Earn <span>sats</span> for your digital content. Instantly.</h3>
    <h4 class="text-warning">Withdraw Anytime.</h4>
    <small class="text-muted">Powered by <span class="text-warning">Bitcoin</span> + <span class="text-info">Lightning</span></small>
</div>
<div style="background-image: url('{{ url_for('static', filename='images/mobile-landing-page.png') }}'); background-size: cover;">
    {% include '_footer.html' %}
</div>