
<!doctype html>
<html lang="en" style="height: 100%; margin: 0; overflow-x: hidden;">
    <head>
            <meta charset="utf-8">
            <meta name="robots" content="noimageindex, noarchive">
            <meta name="description" content="Sats for memes">
            <meta name="author" content="junkbite">
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
            <meta name="msvalidate.01" content="0D4B4EB23B2360B96568D8CA91B18D6E" />
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.min.css') }}">
                <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
                <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
                <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
                <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
                {{ bootstrap.load_js() }}
            <title>junkbite</title>
    </head>
    <body style="height: 100%; margin: 0; background-color: black; overflow-x: hidden;">
        <div class="d-block d-md-none"> <!-- show on mobile -->
            {% include 'auth/_login_mobile.html' %}
        </div>
        <div class="bg d-none d-md-block d-lg-block d-xl-block"><!-- show on desktop -->
            {% include 'auth/_login_desktop.html' %}
        </div>
    </body>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toast.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
</html>
