{% extends 'base.html' %}

{% block content %}
<form method="post">
    <div class="form-group row">
        <div class="col-sm-4">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <button class="btn btn-primary"type="submit">Change Password</button>
        </div>
    </div>
</form>
{% endblock %}
