{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('auth.reset_password_request') }}">
    <div class="form-group row">
        <div class="col-sm-4">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <button class="btn btn-primary" type="submit">Get Reset Password Link</button>
        </div>
    </div>
</form>
{% endblock %}
