{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('auth.resend_confirm_email') }}">
    <div class="form-group row">
        <div class="col-sm-4">
            <button class="btn btn-primary" type="submit">Send Confirmation Email</button><br>
            <small class="text-muted">This helps us now you are a real person and not a bot, making the overall experience of using junkbite better</small>
        </div>
    </div>
</form>
{% endblock %}
