<div class="card">
    {% if request.endpoint == 'bombadillo.post' %}
        {% include 'bombadillo/_explore_card_content.html' %}
    {% else %}
        <a href="{{ url_for('bombadillo.post', post_code=post.post_code) }}">
            {% include 'bombadillo/_explore_card_content.html' %}
        </a>
    {% endif %}
    <div class="card-body">
        {% if not post.meme %}
            <p class="card-text">
                {{ post.title }}
            </p>
        {% endif %}
        {% include '_advertisement_button_actions.html' %}
        {% include 'bombadillo/_thread_lightning_boost.html' %}
    </div>
</div>