{% extends 'base.html' %}

{% block header %}
<h4 class="header-title">{% block title %}tweet on @junkbite_tweets timeline.{% endblock %}</h4>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <form id="invoice-form" action="{{ url_for('twitter.compose') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="body">Text</label>
                <textarea class="form-control" name="body" id="create-body" autocomplete=off onkeyup="copyTextToMeme(this.value)">{{ request.form['body'] }}</textarea>
            </div>
            <div class="form-group">
                <label for="file">Image</label>
                <input type="file" class="form-control-file" name="file" id="getval"/>
            </div>
        </form>
        <input class="btn btn-primary" role="button" value="Submit" onclick="getGeneralInvoice()">
        <hr>
        <div class="form-group pl-0">
            <h3>Preview</h3>
            <div class="card">
                <div class="card-body" id="top-text-preview">
                    <p id="meme-text" class="card-text"></p>
                </div>
                {% include '_image_display_in_form.html' %}
            </div>
        </div>
    </div>
    <div class="col-sm twitter-feed-scroll">
        <a class="twitter-timeline" href="https://twitter.com/junkbite_tweets?ref_src=twsrc%5Etfw">Tweets by junkbite_tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
</div>
{{ modal_invoice() }}
{% endblock %}