{% extends 'base.html' %}

{% block header %}
<h4 class="header-title">{% block title %}Update @junkbite_tweets' profile picture for sats{% endblock %}</h4>
{% endblock %}

{% block content %}
<div id=create_div>
    <form action="{{ url_for('twitter.update_profile_picture') }}" method=post enctype="multipart/form-data"
        class=add-post id='tweet-form'>
        <div class=post-text>
            <input type='file' name='file' id='getval' required /><br>
            <div id=tiles-img-container class=tiles-column>
                <div id=img-post>
                    <p id='meme-text' style="text-align: left;"></p>
                </div>
                <div id='show-image'>
                    <video style="display: none;" id='load-video' controls autoplay muted loop>
                        <source id=source-me type='video/mp4'>
                    </video>
                    <img style="display: none;" id='load-img' alt="" />
                </div>
            </div><br>
        </div><br>
    </form>
</div>
<div>
    <button class="btn btn-primary"onclick="getGeneralInvoice()">Update Profile Picture</button>
</div>
{% endblock %}
