{% extends 'base.html' %}
{% block content %}
    <h3 class="text-muted">An error occurred</h3>
    <span class="text-info">Junkbite has been notified and will fix it asap</span>
    <a href="{{ url_for('bombadillo.threads') }}">Back to Home</a>
{% endblock %}