{% extends 'base.html' %}

{% block header %}
<h1 class="header-title">{% block title %}purchase advertisement with lightning{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Buy an Ad!</h4>
    <p>
    Advertising is easy with lightning payments.
    <hr>
    <p class="mb-0">
        250 sats buy an Ad for 1 hour. The ad will be show on the `threads` page static at the top computer and shown as first post on mobile. 
        Once you pay the invoice you will be redirected to the create an advertisement page. Once that is submitted the timer starts.
    </p>
</div>
<form method="post" id="invoice-form" style="display: none;" action="{{ url_for('advertise.buy_sticky_post') }}">
    <input id="purchase-price" name="purchase-price" type="number" min="0.25" max="10" step=".25" value="0.25">
</form>
<div id="zapError{{ post.post_code }}" style="display: none">
    <small class="text-danger">Invalid Amount - Max {{ max_zap if max_zap else 1000 }} sats</small>
</div>
<div>
    <form>
        <div class="form-group">
            <label for="sats">sats</label>
            <input  
                type="number"
                class="form-control"
                id="input-sats"
                min="250"
                max="{{ max_zap if max_zap else 1000 }}"
                step="250"
                value="250"
            >
        </div>
    </form>
    <hr>
    <div>
        <button class="btn btn-primary"type="submit" onclick="getGeneralInvoice()">Create Advertisement</button>
    </div>
</div>
{{ modal_invoice() }}
{% endblock %}
