{% extends 'base.html' %}

{% block header %}
<h1 class="header-title">{% block title %}buy a sticky post.{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <form method=post enctype="multipart/form-data">
        <div id=meme-create>
            <input type='file' name='file' id='getval' /><br>
            <div id=tiles-img-container>
                <div id='show-image'>
                    <video style="display: none;" id='load-video' controls autoplay muted loop>
                        <source id=source-me type='video/webm'>
                        <source id=source-me type='video/mp4'>
                    </video>
                    <img style="display: none;" id='load-img' alt=""/>
                </div>
            </div><br>
        </div>
        <div class=post-text>
            <label for="title">title</label>
            <input style="width: 100%;" type=text name="title" id="title" value="{{ request.form['title'] }}"
                autocomplete=off required>
            <label for="body">body</label>
            <textarea style="width: 100%; height: 200px;" name="body" id="create-body"
                autocomplete=off">{{ request.form['body'] }}</textarea><br>
        </div><br>
        <input type=submit value=post.>
    </form>
</div>
{% endblock %}