{% extends "base.html" %}
{% block content %}
<div id=api_container>
  <strong id=title>api information.</strong><br><br>
  <p>
    GET
  </p>
  <p>
    The links below return json data. Those are the endpoints you want to hit
    if you are requesting data. You can expect the data to look just like what
    you see.
    <br>
  </p>
  <ul id=api_links>
    <li><a href="{{ url_for('api.api_users') }}">json users.</a></li>
    <li><a href="{{ url_for('api.api_posts') }}">json posts.</a></li>
    <li><a href="{{ url_for('api.api_threads') }}">json threads.</a></li>
    <li><a href="{{ url_for('api.api_comments') }}">json comments.</a></li>
  </ul>
</div>
<hr>
{% endblock %}
