<div class="card">
    <div>
        {% if post.unique_filename %}
            <img class="card-img-top" src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}" alt="..."/>
        {% endif %}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <a href="{{ url_for('blog.blog', slug=post.slug) }}" class="btn btn-primary">Read</a>
    </div>
</div>