<div id='blog{{ post.post_code }}' style="overflow: hidden">
    <div id="blog-container-{{ post.post_code }}">
        {% if g.user.admin %}
        <div>
            <form method="post" action="{{ url_for('blog.delete_blog', blog_id=post.id) }}">
                <button class="btn btn-danger" type="submit" value="delete">Delete Blog</button>
            </form><br>
            <form method="post" action="{{ url_for('blog.edit_blog', slug=post.slug) }}">
                <button class="btn btn-primary" type="submit" value="delete">Edit Blog</button>
            </form>
        </div>
        {% endif %}
        {% if post.unique_filename %}
            <div class="col-4 image-wrapper float-left">
                {% if (not post.unique_filename.endswith(".webm") and not post.unique_filename.endswith(".mp4") and not post.unique_filename.endswith(".mov")) %}
                    <img class="blogImage rounded border border-primary" src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}" alt=""/>
                {% else %}
                    <video class="blogImage rounded border border-primary" autoplay muted loop controls
                        src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}">
                    </video>
                {% endif %}
            </div>
        {% endif %}
        <div class="single-post-content-wrapper p-3" id="blog{{ post.post_code }}">
            <h3 class="text-muted">
                {{ post.title }}
            </h3>
            <div style="font-size: 18px;">
                {{ post.processed_body | safe }}
            </div>
        </div>
    </div>
</div>
