{% extends 'base.html' %}

{% block header %}
  <h3 class="header-title text-muted">{% block title %}blogs{% endblock %}</h3>
  {% if g.user %}
    {% if g.user.admin %}
      <a href="{{ url_for('blog.create_blog') }}">create blog</a>
      <hr>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="card-columns">
    {% for post in posts %}
        {% include 'blog/_blog_list_item.html' %}
    {% endfor %}
</div>
{% endblock %}
