{% extends 'base.html' %}

{% block header %}
<h3 class="text-muted">{% block title %}Create Blog{% endblock %}</h3>
{% endblock %}

{% block content %}
<div id="createBlog">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Image</label>
            <input type="file" class="form-control-file" name="file" id="getval"/>
        </div>
        <div class="form-group">
            <input class="form-control" type=text name="title" id="title" value="{{ request.form['title'] }}"
                autocomplete=off required onkeyup="copyTextToMeme(this.value)" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="body">Blog</label>
            <textarea class="form-control" name="body" id="create-body" autocomplete=off aria-describedby="bodyHelp">{{ request.form['body'] }}</textarea>
            <small id="bodyHelp" class="form-text text-muted">Markdown accepted - displays when viewing post directly</small>
        </div>
        <input class="btn btn-primary" role="button" type=submit value="Submit">
        <hr>
    </form>
    <div class="form-group col-sm-4 pl-0">
        <h3>Preview</h3>
        <div class="card">
            {% include '_image_display_in_form.html' %}
            <div class="card-body" id="bottom-text-preview">
                <p id="post-text" class="card-text"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
