{% extends 'base.html' %}
{% block content %}
  <div id=about>
    <h1> About </h1>
    <p>
      <strong>junkbite</strong> is for sharing images, gifs, and videos and using the lightning network.
      Bitcoin is the future of money and lightning is the future of payments and its happening now.
      This website is lightning enabled so buy bitcoin, download a lightning wallet and start using it.
      Please read the <a href="{{ url_for('information.rules') }}"><strong>rules</strong></a>
      before posting.
    </p>
  </div>
{% endblock %}
