{% extends 'base.html' %}

{% block content %}
<div id="faq">
    <h3 class="text-muted">Frequently Asked Questions</h3>
    <ul class="list-group list-group-flush border rounded">
        {% for f in faqs %}
        <li class="list-group-item mb-2">
            <h6 class="font-weight-bold">{{ f.question }}</h6>
            {{ f.answer | safe }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
