{% extends 'base.html' %}
{% block content %}
<div id="information">
    <h3 class="text-muted">Feedback</h3>
    <p class="lead">Help improve junkbite by giving feedback here</p>
    <form method="post" action="{{ url_for('information.feedback') }}">
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" autocomplete=off>{{ request.form['description'] }}</textarea>
        </div>
        <input class="btn btn-primary" role="button" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
