{% extends 'base.html' %}
{% block content %}
  <div id=help>
    <h3>Junkbite Functionality</h3>
    <h4>Overview of all functions available to a user.</h4>
    <strong>Lightning</strong><br>
    <p>
    Click the lightning bolt under a post, enter an amount (in satoshis) and click boost. A lightning network invoice will appear.
    Pay this using a lightning enabled wallet tip a user on a post. Tipping your own post will boost the post but the satoshis
    will go to junkbite, consider this a tip to junkbite and it is much appreciated.
    </p>
    <strong>Create</strong><br>
    <p>
    Create a meme, share an image or video or just post some text
    </p>
    <strong>Explore</strong><br>
    <p>
    This page shows popular content

    Clicking on one of these tiles will bring you to that specific thread
    </p>
    <strong>Home</strong><br>
    <p>
    Content from people you follow will appear here. Click the card to see comments.
    </p>
  </div>
{% endblock %}
