{% extends 'base.html' %}
{% block content %}
<div id="information">
    <h3 class="text-muted">Information Links</h3>
    <div class="card p-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{ url_for('information.about') }}">About</a></li>
            <li class="list-group-item"><a href="{{ url_for('information.faq') }}">FAQs</a></li>
            <li class="list-group-item"><a href="{{ url_for('information.lightning_info') }}">Lightning Node</a></li>
            <li class="list-group-item"><a href="{{ url_for('information.help') }}">Help</a></li>
            <li class="list-group-item"><a href="{{ url_for('information.bitcoin_pdf') }}">Bitcoin White Paper</a></li>
            <li class="list-group-item"><a href="{{ url_for('information.rules') }}">Rules</a></li>
            <li class="list-group-item"><a href="{{ url_for('information.support') }}">Support</a></li>
            <li class="list-group-item"><a href="{{ url_for('information.feedback') }}">Feedback</a></li>
            <li class="list-group-item"><a href="{{ url_for('information.privacy_policy') }}">Privacy Policy</a></li>
            <li class="list-group-item"><a href="{{ url_for('information.terms_of_service') }}">Terms of Service</a></li>
        </ul>
    </div>
</div>
{% endblock %}
