{% extends 'base.html' %}

{% block header %}<h4 class="text-muted">Junkbite Lightning Node Information</h4>{% endblock %}


{% block content %}
<div id="lightning-information">
    <div class="card">
        <div class="card-body">
            <h6 class="card-subtitle mb-2">Alias:
                <span class="text-muted">
                    <a target="_blank" href="https://1ml.com/node/03d84216cc025e8c035645d52d59b4723b0b7f23df21e6caeed9c67f39c1266ae7">{{node.title}}</a> (1ml.com profile)
                </span>
            </h6>
            <h5 class="card-title">Node URI</h5>
            <input readonly type="text" class="form-control" id="lnNodePubkey" value="{{node.uri}}"><br>
            <button class="btn btn-primary" onclick="copyPubkey('lnNodePubkey')">Copy</button>
            <hr>
            <h5 class="card-title">How to connect with LND</h5>
            <p class="lead">Use `lncli` to open up a 2 million sat channel with Junkbite</p>
            <pre class="bg-light border rounded p-1">lncli connect {{node.uri}}<br>lncli openchannel {{node.pubkey}} 2000000</pre>
            <hr>
            <h5 class="card-title">How to connect with c-lightning</h5>
            <p class="lead">use `lightning-cli` to open up a 2 million sat channel with Junkbite</p>
            <pre class="bg-light border rounded p-1">lightning-cli connect {{node.uri}}<br>lightning-cli fundchannel --id={{node.pubkey}} --amount=2000000</pre>
        </div>
    </div>
</div>
{% endblock %}
