{% extends 'base.html' %}

{% block content %}
<div id="faq">
    <h3 class="text-muted">Junkbite Privacy Policy</h3>
    <div class="card p-3">
        <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from junkbite.com (the "Site").</p>
        <h4>PERSONAL INFORMATION WE COLLECT</h4>
        <p>
            When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages you view, and information about how you interact with the Site. We refer to this automatically-collected information as "Device Information."
            We collect Device Information using the following technologies:
            <ul>
                <li>"Cookies" are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.</li>
                <li>"Log files" track actions occurring on the Site, and collect data including your IP address, and date/time stamps.</li>
            </ul>
            Additionally when you make a purchase or attempt to make a purchase through the Site, we collect certain information from you like email address.  We refer to this information as "Order Information."
            When we talk about "Personal Information" in this Privacy Policy, we are talking both about Device Information and Order Information.
        </p>
        <h4>HOW DO WE USE YOUR PERSONAL INFORMATION?</h4>
        <p>
            We use the Order Information that we collect generally to fulfill any orders placed through the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations).  Additionally, we use this Order Information to:
            Communicate with you;
            Screen our orders for potential risk or fraud; and
            When in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.
            We use the Device Information that we collect to help us screen for potential risk and fraud (in particular, your IP address), and more generally to improve and optimize our Site
        </p>
        <h4>SHARING YOUR PERSONAL INFORMATION</h4>
        <p>
            We may share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.
        </p>
        <h4>BEHAVIOURAL ADVERTISING</h4>
        <p>There are no advertisements currently on junkbite and theres no plans to add them, we don't collect sufficient data for this to be successful anyways.</p>
        <h4>DO NOT TRACK</h4>
        <p>Please note that we do not alter our Site’s data collection and use practices when we see a Do Not Track signal from your browser.</p>
        <h4>YOUR RIGHTS</h4>
        <p>If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.
            Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above.  Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.
        </p>
        <h4>DATA RETENTION</h4>
        <p>When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information.</p>
        <h4>MINORS</h4>
        <p>The Site is not intended for individuals under the age of 18.</p>
        <h4>CHANGES</h4>
        <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
        <h4>CONTACT US</h4>
        <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at psqnt@junkbite.com</p>
    </div>
</div>
{% endblock %}
