{% extends 'base.html' %}
{% block content %}
    <div id="rules">
        <h3 class="text-muted">Rules</h3>
        <hr>
        <strong>No Hacking</strong>
        <p>Do not hack junkbite.</p>
        <strong>Prohibited Content</strong><br>
        Do not post any content that is:<br><br>
        <ul>
            <li>illegal</li>
            <li>involuntary pornography</li>
            <li>sexual or suggestive content involving minors</li>
            <li>incites violence</li>
            <li>threatening or harassment</li>
            <li>personal and confidential information</li>
            <li>spam</li>
        </ul>
    </div>
{% endblock %}
