{% extends 'base.html' %}
{% block content %}
<div id="information">
    <h3 class="text-muted">Support</h3>
    <p class="lead">Open a ticket here with a description of your issue so it can be resolved</p>
    <form method="post" action="{{ url_for('information.support') }}">
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" autocomplete=off>{{ request.form['description'] }}</textarea>
        </div>
        <input class="btn btn-primary" role="button" type="submit" value="Submit">
    </form>
    {% if tickets %}
        <hr>
        <h4 class="text-muted">Your Support Tickets</h4>
        {% for ticket in tickets %}
        <div class="mb-2">
            <a href="{{ url_for('information.support_detail', ticket_code=ticket.ticket_code) }}">{{ticket.ticket_code}}</a><span>  <small class="text-muted">{{ticket.created|strftime }}</small></span>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
