{% extends 'base.html' %}
{% block content %}
<div id="supportDetail">
    <h3 class="text-muted">Support Ticket: {{ ticket.ticket_code}} </h3>
    {% if ticket.ticket_status == 'closed' %}
    <span class="text-warning">{{ticket.ticket_status}}</span>
    {% else %}
    <span class="text-info">{{ticket.ticket_status}}</span>
    {% endif %}
    <p class="lead">{{ ticket.description }}</p>
    <span class="text-info">{{ ticket.user.username }}</span>
    {% if ticket.ticket_status == "opened" %}
    <hr>
    <form method="post" action="{{ url_for('information.support_detail', ticket_code=ticket.ticket_code) }}">
        <div class="form-group">
            <label for="response">Response</label>
            <textarea class="form-control" name="response" id="response" autocomplete=off></textarea>
        </div>
        <input class="btn btn-primary" role="button" type="submit" value="Submit">
    </form>
    {% endif %}
    <hr>
    {% for response in ticket.responses %}
    <div class="mb-2">
        <span class="text-info">{{ response.user.username }}: </span>
        <span>{{ response.response_text }}</span>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}
