.card img {
    width: 100%;
    max-height: 100%;
}

.card video {
    max-width: 100%;
    max-height: 100%;
}

.thread-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.action {
    color: #18bc9c;
    text-decoration: none;
    background-color: transparent;
}

.action:hover {
    color: #0f7864;
    text-decoration: underline;
    cursor: pointer;
}

.twitter-feed-scroll {
    max-height: 600px;
    overflow-y: scroll;
}

.right-sidebar {
    position: fixed;
    top: 8em;
    left: 65%;
    z-index: 1;
    width: 350px;
}

.threads-column {
    padding-left: 0;
    padding-right: 0;
}

.thread-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.payment-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    margin-bottom: 0 !important;
}

.icon-action-button:hover {
    cursor: pointer;
}

.explore-card-link {
    color: black;
}

.explore-card-link:hover {
    text-decoration: none;
}

.three-dot-menu:hover {
    cursor: pointer;
}

.qrcode-display img {
    max-width:100%;
    max-height:100%;
}

.blogImage {
    width:100%;
}

.exploreCard {
    margin-bottom: 15px;
}

.bountyResponseText p {
    margin-bottom: 1px;
}

.ql-syntax {
    background-color: gainsboro;
    border: 1px solid lightgray;
    padding: 1em;
    border-radius: 2.5px;
}

.postTextArea p {
    margin-bottom: 1px;
}

.postTextArea h3 small {
    white-space: pre-wrap;
}

.ql-container {
    display: flex;
    flex-direction: column-reverse; 
}

#searchInputForm {
    width: 220px;
}

.post-header {
    padding-bottom: 1rem;
}

.card-body {
    padding: 0.75rem;
}

#junkbiteCompose {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
    color: black;
}

.commentCompose {
    border: none;
    overflow: auto !important;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none !important; /*remove the resize handle on the bottom right*/
    color: black !important;
}

.commentCard {
    border-radius: 0 !important;
    border-bottom-width: 0 !important;
}

#show-image {
    margin-left: -.77em;
    margin-right: -.77em;
}

#show-gif {
    margin-left: -.77em;
    margin-right: -.77em;
}

.bountyInformationContainer img{
    max-width: 100%;
}

.bg {
    /* The image used */
    background-image: url("../images/landing-page.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login-top-nav {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid lightgray;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.adminSidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 2em;
}

.adminSidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}

.adminSidebar a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .adminSidebar {padding-top: 15px;}
    .adminSidebar a {font-size: 18px;}
}

.ql-editor{
    min-height: 200px;
}

#exploreCardArticlePreview {
    border-radius: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.look-like-a-link {
    color: #18bc9c;
    text-decoration: none;
    background-color: transparent;
}

.look-like-a-link:hover {
    color: #0f7864;
    text-decoration: underline;
    cursor: pointer;
}

.user-tag {
    text-decoration: none;
    background-color: transparent;
}

.user-tag:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-no-style {
    text-decoration: none;
    color: white;
}