<p>Hey {{username}}</p>

<p>Please confirm your email by clicking this link or pasting it into your browser</p>
<a href="{{ url_for('auth.confirm_email', token=token, _external=True) }}">{{ url_for('auth.confirm_email', token=token, _external=True) }}</a>
<hr>
<p>
    Cheers,
    psqnt
</p>