<p>{{ user.username }}</p>
<p>Your password has been updated</p>

<p>If you did not initiate this password update please open a support ticket as soon as possible.</p>
Junkbite Support Here:
<a href="{{ url_for('information.support', _external=True) }}">Create a Support Ticket</a>