<p>Hey {{username}}</p>
<p>Thanks for joining Junkbite!</p>

<p>Please confirm your email by clicking this link or pasting it into your browser</p>
<a href="{{ url_for('auth.confirm_email', token=token, _external=True) }}">{{ url_for('auth.confirm_email', token=token, _external=True) }}</a>
<hr>
<p>
    Junkbite was created partially because I hate ads, but moreso because I see the power of bitcoin and lightning and 
    wanted to enable everyone to begin using these technologies. Digital content and digital payments are here. Junkbite is here 
    to enable the digital economy for both creators and consumers.
</p>

<p>
    Would love to hear what you think of junkbite, any feedback you have is welcome.
    If you have any questions, feel free to reply to me at this email. Thanks!
</p>

<p>
    Cheers,
    psqnt
</p>