{# Will show detail view of *most* models #}

{% extends 'admin_base.html' %}

{% block content %}
<div id="filter-tickets">
    <h3 class="text-muted">{{model_name}}</h3>
    <div class="card p-3">
        {% for column in instance.columns() %}
            {% if column != 'password' %}
            <div>
                <label for="modelName">{{column}}</label>
                <p style="color: gray" class="mb-0">
                    {% if instance|attr(column) and column in ['user_id', 'post_id', 'bounty_id', 'author_id', 'to_user_id', 'from_user_id'] %}
                        {% if column in ['author_id', 'to_user_id', 'from_user_id'] %}
                        <td><a href="{{ url_for('admin.model_detail_view', model='user', instance_id=instance|attr(column)) }}">{{ instance|attr(column) }}</a></td>
                        {% else %}
                        <td><a href="{{ url_for('admin.model_detail_view', model=column[:-3], instance_id=instance|attr(column)) }}">{{ instance|attr(column) }}</a></td>
                        {% endif %}
                    {% else %}
                        {{ instance|attr(column) }}
                    {% endif %}
                </p>
                <hr class="p-0">
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
