<!-- show this nav on mobile -->
<div class="d-block d-md-none">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('admin.admin') }}">Junkbite Admin</a>
        <a href="{{ url_for('bombadillo.explore') }}">Back to Junkbite</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#adminMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminMenu">
            <ul class="navbar-nav float-right">
                <h5 class="text-muted">Configuration</h5>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_view') }}">Model View Configuration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_lightning_app_config') }}">Lightning App Config</a>
                </li>
                <h5 class="text-muted pt-1">Database Models</h5>
                <li class="nav-item">
                    <a href="{{ url_for('admin.admin_payment_fees') }}">Payment Fees</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.admin_settings') }}">Settings</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.admin_faqs') }}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_users') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_user_balances') }}">User Balances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_user_balance_entries') }}">User Balance Entries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_posts') }}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_bounties') }}">Bounties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_bounty_responses') }}">Bounty Responses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_comments') }}">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_payments') }}">Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_withdrawals') }}">Withdrawals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_notifications') }}">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_blogs') }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.admin_emails') }}">Emails</a>
                </li>
                <h5 class="text-muted pt-1">Support and Feedback</h5>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_send_payment') }}">Send Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_support') }}">Support Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_feedback') }}">User Feedback</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_reported_content') }}">Reported Content</a>
                </li>
            </ul>
        </div>
    </nav>
</div>