<div id="{{m.name}}" class="table">
    <h4>{{ m.name }}</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm" id="dataTable">
            <caption>{{ m.name }}</caption>
            <thead class="thead-dark">
                <tr>
                    {% for col in m.field_headers_list %}
                    <th scope="col">{{col}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in query %}
                <tr>
                    {% for row in m.field_names_list %}
                        {% if row == 'id' %}
                            <td><a href="{{ url_for('admin.model_detail_view', model=m.name, instance_id=item|attr(row)) }}">{{ item|attr(row) }}</a></td>
                        {% elif row == 'username' or row == 'sending_username' or row == 'receiving_username' %}
                            <td><a href="{{ url_for('bombadillo.view_user', username=item|attr(row)) }}">{{ item|attr(row) }}</a></td>
                        {% elif row == 'content_code' %}
                            {% if item|attr(row) and (item|attr(row)).startswith('post_code') %}
                                <td><a href="{{ url_for('bombadillo.post', post_code=item|attr(row)|strip_code_type ) }}">{{ item|attr(row)|strip_code_type }}</a></td>
                            {% elif item|attr(row) and (item|attr(row)).startswith('bounty_code') %}
                                <td><a href="{{ url_for('bounty.view_bounty', bounty_code=item|attr(row)|strip_code_type ) }}">{{ item|attr(row)|strip_code_type }}</a></td>
                            {% elif item|attr(row) and (item|attr(row)).startswith('bounty_response_code') %}
                                <td><a href="{{ url_for('bounty.view_bounty_response', bounty_response_code=item|attr(row)|strip_code_type ) }}">{{ item|attr(row)|strip_code_type }}</a></td>
                            {% elif item|attr(row) %}
                                <td>{{item|attr(row)}}</td>
                            {% else %}
                                <td>Unknown</td>
                            {% endif %}
                        {% elif row == 'created' or row == 'timestamp' or row == 'last_login' %}
                            <td>{{ item|attr(row)|strftime("%B %-d") }}</td>
                        {% elif row == 'ip_addresses' %}
                            <td>{{ item|attr(row)|remove_leading_char }}</td>
                        {% elif row == 'post_code' %}
                            <td><a href="{{ url_for('bombadillo.post', post_code=item|attr(row)) }}">{{ item|attr(row) }}</a></td>
                        {% elif row == 'bounty_code' %}
                            <td><a href="{{ url_for('bounty.view_bounty', bounty_code=item|attr(row)) }}">{{ item|attr(row) }}</a></td>
                        {% else %}
                            <td><div style="max-width: 200px; height: 20px; overflow: hidden;">{{ item|attr(row) }}</div></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    // data tables
    $(document).ready(function() {
        $('#dataTable').DataTable();
    } );
</script>
