{% extends 'admin_base.html' %}

{% block header %}
<h3 class="text-muted">Add a new model</h3>
<p class="lead">Initiate model view here after adding the function to routes.py</p>
<hr>
{% endblock %}

{% block content %}

<form method="post">
    <div class="form-group">
        <label for="modelName">Model Name</label>
        <input type="text" class="form-control" name="modelName" id="modelName" placeholder="Enter name of model">
    </div>
    <div class="form-group">
        <label for="flaskRoute">Flask Route</label>
        <input type="text" class="form-control" name="flaskRoute" id="flaskRoute" placeholder="Enter flask route from routes.py i.e. /users">
    </div>
    <div class="form-group">
        <label for="flaskFunction">Flask Function</label>
        <input type="text" class="form-control" name="flaskFunction" id="flaskFunction" placeholder="Enter flask function name from routes.py">
    </div>
    <div class="form-group">
        <label for="fieldNames">Fields</label>
        <input type="text" class="form-control" name="fieldNames" id="fieldNames" placeholder="Enter comma separated list of fields to display">
    </div>
    <div class="form-group">
        <label for="fieldHeaders">Headers</label>
        <input type="text" class="form-control" name="fieldHeaders" id="fieldHeaders" placeholder="Enter comma separated list of headers to display">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>
<div id="adminModels">
    <h4 class="text-muted">Current Model Views</h4>
    {% for m in models %}
        <div class="card mb-2">
            <div class="card-header">{{ m.name }} - <a href="{{ url_for('admin.admin_view_edit', app_id=m.id) }}">Edit</a></div>
            <div class="card-body">
                {{ m.field_headers_list|join(', ') }}
                <hr>
                {{ m.field_names_list|join(', ') }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}