{% extends 'admin_base.html' %}

{% block header %}
<h3 class="text-muted">Add a new model</h3>
<p class="lead">Initiate model view here after adding the function to routes.py</p>
<hr>
{% endblock %}

{% block content %}
<form method="post" action="{{ url_for('admin.admin_view_edit', app_id=model.id) }}">
    <div class="form-group">
        <label for="modelName">Model Name</label>
        <input type="text" class="form-control" id="modelName" name="modelName" value="{{model.name}}">
    </div>
    <div class="form-group">
        <label for="flaskRoute">Flask Route</label>
        <input type="text" class="form-control" id="flaskRoute" name="flaskRoute" value="{{model.route}}">
    </div>
    <div class="form-group">
        <label for="flaskFunction">Flask Function</label>
        <input type="text" class="form-control" id="flaskFunction" name="flaskFunction" value="{{model.function}}">
    </div>
    <div class="form-group">
        <label for="fieldNames">Field Names</label>
        <input type="text" class="form-control" id="fieldNames" name="fieldNames" value="{{model.field_names}}">
    </div>
    <div class="form-group">
        <label for="fieldHeaders">Field Headers</label>
        <input type="text" class="form-control" id="fieldHeaders" name="fieldHeaders" value="{{model.field_headers}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}