{% extends 'admin_base.html' %}

{% block content %}
<div id="filter-comments">
    <form class="form-inline mb-2" action="{{ url_for('admin.admin_comments') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control mr-2" id="comment" name="comment" autocomplete="off" placeholder="Filter">
            <button type="button" class="btn btn-primary" onclick="this.form.submit()">Filter</button>
        </div>
    </form>
</div>
{% include 'admin/_admin_generic_table.html' %}
{% endblock %}
