{% extends 'admin_base.html' %}

{% block title %}Home{% endblock %}
{% block header %}<h3 class="text-muted">Junkbite Daily Statistics</h3>{% endblock %}

{% block content %}
<div id="junkbiteTotals" class="mb-3">
    <div class="card">
        <div class="card-body">
            <span class="text-warning">Junkbite Statistics</span><hr>
            <span class="text-info">New Users: </span><span>{{ new_users_today|join(", ") }}</span><br>
            <span class="text-info">Active Users: </span><span>{{ active_users_today|join(", ") }}</span><br>
            <span class="text-info">Payments Today: </span><span>{{ payments|join(", ") }}</span><br>
            <span class="text-info">Paid to Junkbite Today: </span><span>{{ jb_payments|join(", ") }}</span><br>
        </div>
    </div>
</div>
{% endblock %}
