{% extends 'admin_base.html' %}

{% block title %}Deposit{% endblock %}
{% block header %}<h3 class="text-muted">Junkbite Deposit</h3>{% endblock %}

{% block content %}
<div id="junkbiteTotals" class="mb-3">
    <div class="card">
        <div class="card-body">
            <span class="text-warning">Deposit Address</span><hr>
            <span class="text-info">{{ deposit_address }}</span>
            <hr>
            <button class="btn btn-primary" onclick="showQRCode('addressQR', '{{ deposit_address }}')">Generate QR Code</button>
            <div class="col-sm-3 pt-3" id="addressQR"></div>
        </div>
    </div>
</div>
{% endblock %}
