{% extends 'admin_base.html' %}

{% block content %}
<div id="filter-tickets">
    <h3 class="text-muted">FAQ List</h3>
    <a href="{{ url_for('admin.admin_new_faq') }}">New FAQ Entry</a>
    {% for faq in faqs %}
    <div class="card p-3">
        <form method="post">
            {% for column in faq.columns() %}
                {% if column != 'id' %}
                <div class="form-group">
                    <label for="modelName">{{column}}</label>
                    <input type="text" class="form-control" id="{{column}}" name="{{column}}" value="{{faq|attr(column)}}">
                </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
