{% extends 'admin_base.html' %}

{% block content %}
<div id="filter-feedback">
    <form class="form-inline mb-2" action="{{ url_for('admin.admin_feedback') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control mr-2" id="search" name="search" autocomplete="off" placeholder="Search feedback">
            <button type="button" class="btn btn-primary" onclick="this.form.submit()">Filter</button>
        </div>
    </form>
</div>
{% include 'admin/_admin_generic_table.html' %}
{% endblock %}
