{% extends 'admin_base.html' %}

{% block title %}Home{% endblock %}
{% block header %}<h3 class="text-muted">Junkbite Administration</h3>{% endblock %}

{% block content %}
<div id="junkbiteTotals" class="mb-3">
    <div class="card">
        <div class="card-body">
            <span class="text-warning">Junkbite Statistics</span><hr>
            <span class="text-info">Total Users: </span><span>{{ user_count }}</span><br>
            <span class="text-info">Total Posts: </span><span>{{ post_count }}</span><br>
            <span class="text-info">Total Comments: </span><span>{{ comment_count }}</span><br>
            <span class="text-info">Total Bounties: </span><span>{{ bounty_count }}</span><br>
            <a href="{{ url_for('admin.admin_daily_stats') }}">Daily Statistics</a>
        </div>
    </div>
</div>
<div id="junkbiteTotals" class="mb-3">
    <div class="card">
        <div class="card-body">
            <span class="text-warning">Admin Links</span><hr>
            <a href="https://app.sendgrid.com/" class="text-info">Send Grid</a><br>
            <a href="https://cloud.digitalocean.com/projects" class="text-info">Digital Ocean</a><br>
        </div>
    </div>
</div>
<div id="junkbiteLightningNodeInfo" class="mb-3">
    <div class="card">
        <div class="card-body">
            <span class="text-warning">Junkbite Lightning Node Information</span><hr>
            <div>
                <span class="text-info">Total On-chain Balance</span> {{ total_balance }} sats<br>
                <span class="text-info">Confirmed On-chain Balance</span> {{ confirmed_balance }} sats<br>
                <a href="{{ url_for('admin.admin_deposit') }}" class="text-warning">Get Deposit Address</a>
            </div>
            <hr>
            <div>
                <span class="text-info">Alias</span> {{ alias }}<br>
                <span class="text-info">Pubkey</span> {{ pubkey }}<br>
                <span class="text-info">Channels</span> {{ active_channels }}<br>
                <span class="text-info">Peers</span> {{ peers }}<br>
                <span class="text-info">Block Height</span> {{ block_height }}<br>
            </div>
        </div>
    </div>
</div>
<div id="junkbiteTotals" class="mb-3">
    <div class="card">
        <div class="card-body">
            <span class="text-warning">Quick Email</span><br>
            <small class="text-muted">Send emails from here to users that need support ticket help etc.</small>
            <hr>
            <form method="post" action="{{ url_for('admin.admin_send_email') }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" id="username" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input class="form-control" type="text" name="subject" id="subject" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea class="form-control" name="body" id="body" autocomplete="off"></textarea>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="registerPassword" type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
