{% extends 'admin_base.html' %}

{% block title %}Configure Lightning Apps{% endblock %}
{% block header %}<h3 class="text-muted">Configure Lightning Apps</h3>{% endblock %}
{% block content %}
    {% for app in apps %}
    <div class="card mb-2">
        <div class="card-header"><h5>{{ app.application_name }}</h5></div>
        <div class="card-body">
            <span class="text-muted">{{ app.utility_field }}</span><br>
            <span class="text-warning">Configured Price: </span>{{ app.price_for_function }} sats
        </div>
        <div class="card-footer"><a href="{{ url_for('admin.admin_edit_lightning_app_config', app_id=app.id) }}">Edit</a></div>
    </div>
    {% endfor %}
{% endblock %}
