{% extends 'admin_base.html' %}

{% block title %}Configure{% endblock %}
{% block header %}<h3 class="text-muted">Configure: {{ app.application_name }}</h3>{% endblock %}
{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" value="{{ app.application_name }}">
        </div>
        <div class="form-group">
            <label for="utilityField">Utility Field</label>
            <input class="form-control" type="text" name="utilityField" id="utilityField" value="{{ app.utility_field }}">
        </div>
        <div class="form-group">
            <label for="price">Price For Function</label>
            <input class="form-control" type="text" name="price" id="price" value="{{ app.price_for_function }}">
        </div>
        <input class="btn btn-primary" role="button" type="submit" value="Submit Changes">
    </form>
{% endblock %}
