{% extends 'admin_base.html' %}

{% block header %}
  <h1 class="header-title">{% block title %}Admin login{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">username</label>
    <input type="text" name="username" id="username" autocomplete="off" autofocus required>
    <label for="password">password</label>
    <input type="password" name="password" id="password" required><br>
    <input type="submit" value="login">
  </form>
{% endblock %}
