{% extends 'admin_base.html' %}

{% block content %}
<div id="filter-tickets">
    <h3 class="text-muted">New FAQ</h3>
    <div class="card p-3">
        <form method="post">
            {% for column in faq.columns() %}
                {% if column != 'id' %}
                <div class="form-group">
                    <label for="modelName">{{column}}</label>
                    <input type="text" class="form-control" id="{{column}}" name="{{column}}" value="">
                </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
