{% extends 'admin_base.html' %}

{% block content %}
<div id="manage-reported-content" class="table">
  <h4>Reported Content</h4>
  <table class="u-full-width">
    <caption>Reported Content</caption>
    <thead>
      <tr>
        <th scope="col">Take Action</th>
        <th scope="col">ID</th>
        <th scope="col">Post ID</th>
        <th scope="col">Reporter User ID</th>
        <th scope="col">Reported User ID</th>
        <th scope="col">Reason</th>
        <th scope="col">First Reported</th>
        <th scope="col">Action Taken</th>
      </tr>
    </thead>
    <tbody>
    {% for post in query %}
      <tr>
        <td><a href="{{ url_for('admin.admin_reported_content_review', report_id=post.id) }}">Review</a></th>
        <td>{{ post.post_code }}</th>
        <td>{{ post.post_id }}</th>
        <td>{{ post.reporter_id }}</th>
        <td>{{ post.reported_user_id }}</th>
        <td>{{ post.reason }}</th>
        <td>{{ post.created }}</th>
        <td>{{ post.action_taken }}</th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
