{% extends 'admin_base.html' %}

{% block header %}
  <h1 class="header-title">{% block title %}review reported content.{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <table class="table">
        <caption>Reported Content</caption>
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">post id</th>
                <th scope="col">comment id</th>
                <th scope="col">post or comment</th>
                <th scope="col">reporter id</th>
                <th scope="col">reported id</th>
                <th scope="col">reason</th>
                <th scope="col">first reported</th>
                <th scope="col">times reported</th>
                <th scope="col">action taken</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ reported.id }}</td>
                <td>{{ reported.post_id }}</td>
                <td>{{ reported.comment_id }}</td>
                <td>{{ reported.post_or_comment }}</td>
                <td>{{ reported.reporter_id }}</td>
                <td>{{ reported.reported_user_id }}</td>
                <td>{{ reported.reason }}</td>
                <td>{{ reported.created }}</td>
                <td>{{ reported.count }}</td>
                <td>{{ reported.action_taken }}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
{% include 'bombadillo/_post.html' %}
<hr>
<div id=judgement>
    <div>
        <h5 class="text-muted">User Information</h5>
        <span>Reported user: <a>{{ user.username }}</a></span><br>
        <span>Punished Level: {{user.punished_level }}</span>
    </div>
    <hr>
    <form id="judgement_form" action="{{ url_for('admin.admin_reported_content_judgement', report_id=reported.id ) }}" method=post>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="user" name="user-action" id="judgeCheck1">
            <label class="form-check-label" for="judgeCheck1">Increase Punishment level</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="delete-content" value="user" id="judgeCheck2">
            <label class="form-check-label" for="judgeCheck2">Delete content</label>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="reason" placeholder="Judgement Reasoning" required></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
