{% extends 'admin_base.html' %}

{% block header %}
  <h3 class="text-muted">{% block title %}Payment Support{% endblock %}</h3>
{% endblock %}

{% block content %}
<div id="send-payment">
    <p class="lead">To handle manual payment completion and refunds on support requests in the case of application failure or malfunction</p>
    <small class="text-muted">This should take place after user creates a support ticket and issue has been verified. On successful payout this will auto-close
        the support ticket and notify the user.<br> NOTE: The lightning invoice provided will fail unless they generate the invoice with a significant alive-time for the invoice.
        So please request this when talking with the user.
    </small>
    <hr>
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" name="username" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="supportTicket">Support Ticket Code</label>
            <input class="form-control" name="supportTicket" id="supportTicket" placeholder="Enter Support Ticket Code">
        </div>
        <div class="form-group">
            <label for="invoice">Lightning Invoice (provided by user)</label>
            <textarea class="form-control" name="invoice" id="adminLightningInvoice"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock %}