{% extends 'admin_base.html' %}

{% block content %}
<div id="filter-tickets">
    <form class="form-inline mb-2" action="{{ url_for('admin.admin_support') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control mr-2" id="search" name="search" autocomplete="off" placeholder="Search tickets">
            <button type="button" class="btn btn-primary" onclick="this.form.submit()">Filter</button>
        </div>
    </form>
</div>
<div id="support-tickets" class="table">
  <h4>Support Tickets</h4>
  <table class="u-full-width">
    <caption>Support Tickets</caption>
    <thead>
      <tr>
        <th scope="col">Ticket ID</th>
        <th scope="col">Ticket Code</th>
        <th scope="col">User</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Created</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for ticket in query %}
      <tr>
        <td>{{ ticket.id }}</td>
        <td><a href="{{ url_for('information.support_detail', ticket_code=ticket.ticket_code) }}">{{ ticket.ticket_code }}</a></td>
        <td><a href="{{ url_for('bombadillo.view_user', username=ticket.user.username) }}">{{ ticket.user.username }}</a></td>
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.ticket_status }}</td>
        <td>{{ ticket.created }}</td>
        {% if ticket.ticket_status != "closed" %}
        <td><a href="{{ url_for('admin.admin_close_support_ticket', ticket_code=ticket.ticket_code) }}">Close Ticket</a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
