<div class="modal fade" id="invoiceBounty{{bounty.id}}" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="invoiceLabel">Payment Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="qrcode-display" id="qrcodeBounty{{bounty.id}}"></div>
                <div id="lightningInvoiceText{{bounty.id}}">
                    <hr>
                    <div class="form-group">
                        <input readonly type="text" class="form-control" id="invoiceBountyText{{bounty.id}}"><br>
                        <button type="button" class="btn btn-primary" onclick="copyBountyInvoice({{bounty.id}})">Copy Invoice</button>
                    </div>
                </div>
                <div id="qrcodeBountyCompleted{{bounty.id}}" style="display:none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 32 32">
                        <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z"/>
                    </svg>
                    <h3>Payment Complete!</h3>
                </div>
            </div>
            <div class="modal-footer">
                <span class="text-muted">Scan this with a lightning wallet to complete</span>
                <a href="{{ url_for('information.help') }}">help</a>
            </div>
        </div>
    </div>
</div>
