<div id="zapBountyResponseError{{response.id}}" style="display: none">
    <small class="text-danger">Invalid Amount - Max {{ max_zap if max_zap else 1000 }} sats</small>
</div>
<div id="thread-boost-form{{ response.id }}" style="display: none;">
    <small class="pl-1">Sats</small>
    <div class="row">
        <form class="col-3">
            <input  
                type="number"
                class="form-control mr-1"
                id="input-sats{{ response.id}}"
                min="1"
                max="{{ max_zap if max_zap else 1000 }}"
                step="1"
                value="200"
            >
        </form>
        <button class="col-3 btn btn-warning" onclick="getBountyResponseInvoice('{{response.id}}', '{{ max_zap if max_zap else 1000 }}')">Zap</button>
    </div>
</div>

