<nav class="nav nav-tabs" style="white-space:nowrap;overflow-x:auto;">
    <ul class="pl-0">
        {% if g.user %}
            {% if request.endpoint == 'bounty.create_bounty'%}
                <a class="active pl-2 pr-2" href="{{ url_for('bounty.create_bounty') }}">Create</a>
            {% else %}
                <a class="pl-2 pr-2" href="{{ url_for('bounty.create_bounty') }}">Create</a>
            {% endif %}
            {% if request.endpoint == 'bounty.user_bounties'%}
                <a class="active pl-2 pr-2" href="{{ url_for('bounty.user_bounties', username=g.user.username) }}">Your Bounties</a>
            {% else %}
                <a class="pl-2 pr-2" href="{{ url_for('bounty.user_bounties', username=g.user.username) }}">Your Bounties</a>
            {% endif %}
            {% if request.endpoint == 'bounty.user_responded_bounties'%}
                <a class="active pl-2 pr-2" href="{{ url_for('bounty.user_responded_bounties', username=g.user.username) }}">Your Responses</a>
            {% else %}
                <a class="pl-2 pr-2" href="{{ url_for('bounty.user_responded_bounties', username=g.user.username) }}">Your Responses</a>
            {% endif %}
        {% endif %}
        {% if request.endpoint == 'bounty.all_bounties' %}
        <a class="active pl-2 pr-2" href="{{ url_for('bounty.all_bounties') }}">All</a>
        <a class="pl-2 pr-2" href="{{ url_for('bounty.open_bounties') }}">Open</a>
        <a class="pl-2 pr-2" href="{{ url_for('bounty.closed_bounties') }}">Closed</a>
        {% endif %}
        {% if request.endpoint == 'bounty.open_bounties' %}
        <a class="pl-2 pr-2" href="{{ url_for('bounty.all_bounties') }}">All</a>
        <a class="active pl-2 pr-2" href="{{ url_for('bounty.open_bounties') }}">Open</a>
        <a class="pl-2 pr-2" href="{{ url_for('bounty.closed_bounties') }}">Closed</a>
        {% endif %}
        {% if request.endpoint == 'bounty.closed_bounties' %}
        <a class="pl-2 pr-2" href="{{ url_for('bounty.all_bounties') }}">All</a>
        <a class="pl-2 pr-2" href="{{ url_for('bounty.open_bounties') }}">Open</a>
        <a class="active pl-2 pr-2" href="{{ url_for('bounty.closed_bounties') }}">Closed</a>
        {% endif %}
        {% if request.endpoint == 'bounty.create_bounty' %}
        <a class="pl-2 pr-2" href="{{ url_for('bounty.all_bounties') }}">All</a>
        <a class="pl-2 pr-2" href="{{ url_for('bounty.open_bounties') }}">Open</a>
        <a class="pl-2 pr-2" href="{{ url_for('bounty.closed_bounties') }}">Closed</a>
        {% endif %}
        {% if request.endpoint == 'bounty.user_bounties'%}
        <a class="pl-2 pr-2" href="{{ url_for('bounty.all_bounties') }}">All</a>
        <a class="pl-2 pr-2" href="{{ url_for('bounty.open_bounties') }}">Open</a>
        <a class="pl-2 pr-2" href="{{ url_for('bounty.closed_bounties') }}">Closed</a>
        {% endif %}
        {% if request.endpoint == 'bounty.user_responded_bounties'%}
        <a class="pl-2 pr-2" href="{{ url_for('bounty.all_bounties') }}">All</a>
        <a class="pl-2 pr-2" href="{{ url_for('bounty.open_bounties') }}">Open</a>
        <a class="pl-2 pr-2" href="{{ url_for('bounty.closed_bounties') }}">Closed</a>
        {% endif %}
    </ul>
</nav>
<br>
{% block title %}
    <h4 class="header-title">{{ title }}</h4>
{% endblock %}
<hr>