<div class="modal" id="bountyAward" tabindex="-1" aria-labelledby="invoiceLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="invoiceLabel">Award and close bounty?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-footer">
                <button class="btn btn-primary">Award</button>
                <button class="btn btn-warning">Close</button>
            </div>
        </div>
    </div>
</div>
