{% extends 'base.html' %}
{% block content %}
<div id='bounty{{ bounty.id }}' class="card col-lg-8 offset-lg-2" style="overflow: hidden">
    <div id="bounty-container-{{ bounty.id }}" class="card-body">
        <nav class="nav navbar-expand pb-2 pl-2">
            <div class="container-fluid pt-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ url_for('bombadillo.view_user', username=bounty.user.username) }}">
                            {% if bounty.user.unique_filename %}
                            <img id="userProfileImg{{bounty.user.username}}" style="height: 32px; width: 32px;"
                                src="{{ url_for('static', filename='images/{}'.format(bounty.user.unique_filename) ) }}"
                                class="rounded-circle" onerror="loadDefaultProfileImg('userProfileImg{{bounty.user.username}}')" alt="">
                            {% else %}
                            <img style="height: 32px; width: 32px;"
                                src="{{ url_for('static', filename='images/default-profile.png') }}"
                                class="rounded-circle" alt="">
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item pl-2 pt-1">
                        <span class="font-weight-normal">{{ bounty.user.username }}</span>
                    </li>
                </ul>
            </div>
        </nav>
        <hr>
        <div class="single-bounty-content-wrapper p-3" id="bounty{{ bounty.id }}">
            <h3>
                <small class="text-muted">{{ bounty.title }}</small>
            </h3>
            {% if bounty.status == 'closed' %}
            <h3><span class="badge badge-info">CLOSED</span></h3>
            <small>Bounty: <span class="text-warning">{{ bounty.initial_sats }} sats</span></small>
            {% else %}
            <h3><span class="badge badge-warning">{{ bounty.initial_sats }} sats</span></h3>
            {% endif %}
            <small class="form-text text-muted">{{ bounty.created|strftime }}</small>
            <hr>
            <div class="bountyInformationContainer">
                {{ bounty.processed_body | safe }}
            </div>
        </div>
        <div>
            {% include 'bounty/_bounty_bottom_buttons.html' %}
            {% include 'bounty/_bounty_lightning_boost.html' %}
            {% include 'bounty/_bounty_share_modal.html' %}
            {% include 'bounty/_bounty_modal_invoice.html' %}
        </div>
        <div>
            {% if g.user and bounty.user_id != g.user.id and bounty.status == 'open' %}
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="response">Bounty Response</label>
                    <textarea class="form-control" name="response" id="responseText" autocomplete=off aria-describedby="responseHelp">{{ request.form['body'] }}</textarea>
                    <small id="responseHelp" class="form-text text-muted">Responding to this allows you to compete to win the bounty</small>
                </div>
                <input class="btn btn-primary" role="button" type="submit" value="Submit" />
            </form>
            {% endif %}
            <form id="bountyResponseWinnerForm" action="{{ url_for('bounty.award_bounty', bounty_code=bounty.bounty_code) }}" style="display: none;" method="post">
                <div class="form-group">
                    <input type="text" name="bountyResponseWinner" id="bountyResponseWinner">
                </div>
            </form>
            <hr>
            {% for response in responses %}
                {% if response.bounty_winner %}
                <div id="response-{{ response.id }}" style="padding: 1em; border-radius: 1em; border: 2px solid orange">
                    <h6 class="text-warning">Bounty Winner</h6>
                {% else %}
                <div id="response-{{ response.id }}">
                {% endif %}
                    <div id="response-header">
                        <a href="{{ url_for('bombadillo.view_user', username=response.user.username) }}"><strong>{{ response.username }}</strong></a>
                        <small class="form-text text-muted">{{ response.created|strftime }}</small>
                    </div>
                    <div id="responseContainer{{ response.id }}">
                        <div class="row" id="response-container-{{ response.id }}">
                            <div class="col bountyResponseText" id="response{{ response.id }}">
                                {{ response.processed_body | safe }}
                            </div>
                        </div>
                    </div>
                    <br>
                    {% include 'bounty/_bounty_response_button_actions.html' %}
                    {% include 'bounty/_bounty_response_lightning_boost.html' %}
                    {% include 'bounty/_bounty_response_modal_invoice.html' %}
                    {% if bounty.status == 'open' and bounty.user_id == g.user.id %}
                    <div>
                        <button class="mt-2 btn btn-primary" onclick="awardBountyPrompt('bountyAward{{response.id}}')">Award</button>
                        <div class="pt-2" id="bountyAward{{response.id}}" style="display: none">
                            <h4>Award this bounty and close?</h4>
                            <button class="btn btn-success" onclick="awardBountySubmit('{{response.id}}')">Yes</button>
                            <button class="btn btn-warning" onclick="awardBountyPrompt('bountyAward{{response.id}}')">Hide</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}