{% extends 'base.html' %}

{% block header %}
    {% include 'bounty/_bounty_header.html' %}
{% endblock %}


{% block content %}
<div id="createPostAlert" style="display: none;" class="alert alert-primary" role="alert"></div>
<div id="create-post" class="card p-3">
    <form id="invoice-form" action="{{ url_for('bounty.create_bounty') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" type=text name="title" id="title" value="{{ request.form['title'] }}"
                autocomplete=off required placeholder="Title">
        </div>
        <div class="form-group">
            <label for="body">Bounty Information</label>
            {% include 'bombadillo/_text_editor.html' %}
            <small id="bodyHelp" class="form-text text-muted">A full description of the task which can be completed or a question that can be answered to claim your bounty</small>
        </div>
        <div style="display: none;">
            <input class="form-control" type=text name="invoiceSubmit" id="invoiceSubmit">
        </div>
    </form>
    <div id="zapBountyError" style="display: none">
        <small class="text-danger">Invalid Amount - Max {{ max_zap if max_zap else 1000 }} sats</small>
    </div>
    <div id="thread-boost-form">
        <hr>
        <form>
            <div class="form-group">
                <label for="sats">Bounty Amount (sats)</label>
                <input  
                    type="number"
                    class="form-control"
                    id="input-sats"
                    min="1"
                    max="{{ max_zap if max_zap else 1000 }}"
                    step="1"
                    value="200"
                >
            </div>
        </form>
        <button class="btn btn-primary" onclick="validateFormThenGetGetInvoice('{{ max_zap if max_zap else 1000 }}')">Generate Bounty Invoice</button>
        <small class="form-text text-muted">Bounty will submit on payment</small>
    </div>
    {{ modal_invoice() }}
</div>
{% endblock %}
