{% for bounty in bounties %}
<div class="card mr-3">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ url_for('bounty.view_bounty', bounty_code=bounty.bounty_code) }}">{{ bounty.title }}</a>
        </h5>
        <hr>
        {% if bounty.status == 'closed' %}
        <h3><span class="badge badge-info">CLOSED</span></h3>
        <small>Bounty: <span class="text-warning">{{ bounty.total_sats }} sats</span></small>
        {% else %}
        <h3><span class="badge badge-warning">{{ bounty.total_sats }} sats</span></h3>
        {% endif %}
        <small class="form-text text-muted">{{ bounty.created|strftime }}</small>
        <small class="form-text text-warning">{{ bounty.status }}</small>
        {% if bounty.response_count == 1 %}
        <small class="text-muted">{{ bounty.response_count }} response</small>
        {% else %}
        <small class="text-muted">{{ bounty.response_count }} responses</small>
        {% endif %}
    </div>
</div>
{% endfor %}