<nav id="baseFooter" class="navbar sticky-top navbar-expand-lg">
    <ul class="navbar-nav mr-auto">
        {% if g.user %}
            {% if g.user.admin %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.admin' )}}">Admin</a>
            </li>
            {% endif %}
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('blog.blogs' )}}">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('information.info' )}}">Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bombadillo.images' )}}">Images</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('information.lightning_info') }}">Node</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bombadillo.explore') }}">Explore</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('information.support') }}">Support</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('information.feedback') }}">Feedback</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('information.faq') }}">FAQs</a>
        </li>
    </ul>
    <small class="text-muted">&copy;2021 Junkbite</small>
</nav>
<div class="d-block d-md-none" style="padding-bottom: 3em;"> <!-- bottom menu visible so add some space -->
</div>