<div id='show-image' class="mt-1">
    <video id='load-video' style="display: none;" controls autoplay muted loop>
        <source id=source-me type='video/webm'>
        <source id=source-me type='video/mp4'>
            <source id=source-me type='video/mov'>
    </video>
    <img id='load-img' style="display: none;" alt="" />
</div>