<nav class="navbar sticky-top navbar-dark bg-primary py-0 pr-2 pl-2">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('bombadillo.explore') }}">
            <svg width="122px" height="45px" viewBox="0 0 122 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group">
                        <rect id="Rectangle" fill="#2D3D50" x="0" y="0" width="122" height="45"></rect>
                        <text id="junk" font-family="Lato-Bold, Lato" font-size="28" font-weight="bold" letter-spacing="-0.8" fill="#FFFFFF">
                            <tspan x="10.5" y="32">junk</tspan>
                        </text>
                        <polygon id="Rectangle" fill="#2D3D50" points="58.5482826 31.6740112 60.179306 32.2377167 59.0792657 32.2377167"></polygon>
                        <text id="ite" font-family="Lato-Bold, Lato" font-size="28" font-weight="bold" fill="#FFFFFF">
                            <tspan x="84" y="32">ite</tspan>
                        </text>
                        <path d="M70.5419789,4.5 L73.7028608,5.30358809 L72.4673088,10.3357731 L74.9438249,10.874584 L76.2397375,5.94094557 L79.3404564,6.69526592 C79.0853926,7.70832978 78.9578607,8.26220566 78.9578607,8.35689355 C78.9732348,8.59163497 79.2230504,8.80573848 79.7073074,8.99920409 C78.6009145,9.47660947 77.9853712,10.1017361 77.8606776,10.874584 C77.7359839,11.647432 78.1467502,12.4261987 79.0929764,13.2108843 C78.3199836,14.2239543 78.1489029,15.2299516 78.5797342,16.2288762 C79.0105655,17.2278009 79.7409956,17.7583715 80.7710245,17.8205881 C80.3279603,18.9922711 80.4949691,19.8751309 81.272051,20.4691675 C82.0491329,21.0632042 82.9712052,21.0791338 84.038268,20.5169563 C84.038268,20.5977847 83.8690084,20.8978778 83.5304892,21.4172357 C83.19197,21.9365937 82.223325,22.7121926 80.6245542,23.7440325 C83.7714178,25.5629356 84.57783,28.3814949 83.0437908,32.1997105 C81.7064886,35.5282486 78.0921531,36.6886953 72.2007844,35.6810508 L70.8009958,40.8183916 L67.6933061,40.0141306 L68.973386,34.8968609 L66.5357094,34.2128845 L65.0632168,39.481361 L62.0446929,38.6756816 L63.2895212,33.4085033 L58.5482826,31.6740112 L60.4562499,28.8561299 C61.0213605,28.9402003 61.5098165,28.8092161 61.9216178,28.4631774 C62.3655713,28.103487 63.2660018,24.3589154 64.2327868,20.5169563 C65.1335346,16.9374264 65.9425388,13.5043394 65.815548,13.2108843 C65.4570957,12.3825594 64.200144,11.8027615 62.0446929,11.4714907 L62.8618676,8.07049177 L69.1936529,9.57341403 L70.5419789,4.5 Z M69.2197726,23.5577067 L67.5997142,30.3315734 C73.4244477,32.1600744 76.6262083,31.7581727 77.2049962,29.1258684 C77.783784,26.4935641 75.1220428,24.6375102 69.2197726,23.5577067 L69.2197726,23.5577067 Z M71.5826063,14.1430945 L70.0293728,20.3860365 C74.9104352,21.857617 77.6379856,21.396655 78.2120241,19.0031507 C78.7860625,16.6096463 76.5762566,14.9896276 71.5826063,14.1430945 L71.5826063,14.1430945 Z" id="Combined-Shape" fill="#F89E32"></path>
                        <g id="Group-4" transform="translate(83.000000, 7.000000)">
                            <rect id="Rectangle" fill="#2D3D50" x="1" y="7" width="6" height="3"></rect>
                            <path d="M4.45796842,9 C7.22092213,9 9,7.07702665 9,4.5 C9,1.92297335 7.43911934,0 4.45796842,0 C1.47681749,0 0,1.92845596 0,4.5054826 C0,7.08250925 1.6950147,9 4.45796842,9 Z" id="Oval" fill="#781AEF"></path>
                            <path d="M0.908799912,4.953817 C0.884234109,4.88459396 0.916152717,4.81622273 0.94274775,4.79451607 C3.59134092,2.8485108 4.17445996,2.45587884 6.29976955,0.934847738 C6.35107071,0.90321022 6.45354016,0.887213254 6.51766844,0.912443345 C6.58179672,0.937673437 6.62123339,1.0170672 6.60638665,1.05548059 C6.11569454,1.99384939 5.57091475,2.93378941 4.97204728,3.87530065 C6.00031937,3.86259974 7.00478199,3.86259974 7.98543515,3.87530065 C8.01495457,3.87530065 8.07269032,3.87530065 8.09486501,3.94426988 C8.11703971,4.0132391 8.06134919,4.0574825 8.04270518,4.07215709 C6.2851404,5.45552628 4.45767209,6.75518415 2.65582548,8.06347689 C2.59182082,8.10845507 2.43257077,8.115757 2.35601358,8.06347689 C2.27945639,8.01119678 2.28822005,7.88528149 2.32176468,7.83535022 C2.83069622,6.8966323 3.38714091,5.96737642 3.99109875,5.04758257 C2.99724625,5.07075284 2.01145,5.06746622 1.03370999,5.03772272 C0.998069527,5.03772272 0.933365714,5.02304004 0.908799912,4.953817 Z" id="Rectangle" fill="#FFFFFF"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
        <div class="d-none d-lg-block d-xl-block">
            <div class="row row-cols-6 float-right">
                <div class="col">
                    <a class="nav-link link-no-style" href="{{ url_for('bombadillo.explore') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16">
                            <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            <path d="M6.94 7.44l4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
                        </svg>
                    </a>
                </div>
                {% if g.user %}
                <div class="col">
                    <a class="nav-link link-no-style" href="{{ url_for('bombadillo.threads') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                    </a>
                </div>
                {% endif %}
                <div class="col">
                    <a class="nav-link link-no-style" href="{{ url_for('bombadillo.create' )}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                </div>
                {% if g.user %}
                <div class="col">
                    <a class="nav-link link-no-style" href="{{ url_for('bombadillo.notifications', username=g.user.username )}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                        </svg>
                        {% if g.user.unread_notification_count > 0 %}
                        <span class="badge badge-pill badge-danger" style="position: absolute; margin-top: -2.5em; margin-left: 2em;">{{ g.user.unread_notification_count }}</span>
                        {% endif %}
                    </a>
                </div>
                {% endif %}
                {% if g.user %}
                <div class="col">
                    <a class="nav-link link-no-style" href="{{ url_for('bombadillo.view_user', username=g.user.username)}}">
                        {% if g.user.unique_filename %}
                            <div style="position: relative;">
                                <img id="userProfile{{g.user.username}}"
                                    class="rounded-circle"
                                    style="position: relative; height: 28px; width: 28px;"
                                    src="{{ url_for('static', filename='images/{}'.format(g.user.unique_filename) ) }}"
                                    onerror="loadDefaultProfileImg('userProfile{{g.user.username}}')"
                                    alt="...">
                            </div>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        {% endif %}
                    </a>
                </div>
                {% else %}
                <div class="col">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                          </svg>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapsedMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapsedMenu">
            <ul class="navbar-nav float-right pb-2">
                <li class="nav-item pb-2">
                    <a href="{{ url_for('bombadillo.lightning' )}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-lightning" viewBox="0 0 16 16">
                            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
                        </svg>
                        <span style="color: white; font-size: 18px;">Junkbite Lightning Apps</span>
                    </a>
                </li>
                <li class="nav-item pb-2">
                    <a href="{{ url_for('bounty.open_bounties' )}}">
                        <svg width="20px" height="24px" viewBox="0 0 20 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Artboard" transform="translate(-1056.000000, -193.000000)">
                                    <g id="Group" transform="translate(1056.000000, 193.000000)">
                                        <path d="M13.3055844,0.75 C13.1003515,1.86223631 12.6730541,2.54062173 12.2458161,3.1513999 L12.2458161,3.1513999 L11.3422589,4.40907922 C13.5925045,5.05024578 15.7180811,6.89417402 17.1969461,9.24230875 C18.4389897,11.2144198 19.2274019,13.5494045 19.2274234,15.8563783 C19.0447984,18.8226043 18.6413634,20.4834742 17.6115196,21.5398499 C16.5903778,22.5872993 14.9813693,23.001327 12.5779608,23.1696262 L12.5779608,23.1696262 L11.9766654,23.2052774 L11.0199671,23.2389325 L9.98746636,23.2499703 L9.28467107,23.2447711 L8.28522324,23.2168448 C8.07562269,23.2080534 7.87134434,23.1974774 7.68045272,23.1856214 L7.68045272,23.1856214 L7.08795331,23.1420013 L6.53675427,23.0879006 C4.50787444,22.8611724 3.13211344,22.4037283 2.241714,21.5634675 C1.32734078,20.7005829 0.962461914,19.4495352 0.820213075,17.773999 C0.792010185,14.5834826 1.47889585,11.7705531 2.62642297,9.53256851 C3.83132424,7.182689 5.54132947,5.46783072 7.45693288,4.66251375 C7.75624592,4.53668298 8.06791351,4.42997415 8.39033037,4.34238853 C8.16200799,4.06152207 7.95847027,3.7940533 7.77995262,3.53996566 C7.35328112,2.93267581 6.90315299,2.16500877 6.42826597,1.23991172 L6.42826597,1.23991172 Z" id="Path" stroke="#FFFFFF" stroke-width="1.5"></path>
                                        <path d="M8.03794587,4.28317131 C8.53031707,4.28317131 9.1464781,4.28317131 9.88642898,4.28317131 C10.9963553,4.28317131 11.8817413,4.38177452 11.8817413,4.38177452" id="Line-3" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="square"></path>
                                        <line x1="12.4020715" y1="4.33247292" x2="15.0770662" y2="3.5136825" id="Line-3" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="square"></line>
                                        <path d="M8.86381419,8 L8.86381419,9.86556427 L9.90609353,9.86556427 L9.90609353,8 L10.9599142,8 L10.9599142,9.86556427 C12.4662285,9.86804884 13.3975689,10.4931415 13.7539353,11.7408423 C13.9698557,12.4968172 13.6889752,13.15171 12.9112938,13.7055206 C13.9978346,14.2351735 14.5114607,14.9494228 14.452172,15.8482685 C14.3410614,17.5327612 13.1769754,18.4308414 10.9599142,18.5425093 L10.9599142,20.4070022 L9.90609353,20.4070022 L9.90609353,18.5425093 L8.86381419,18.5425093 L8.86381419,20.4070022 L7.8116386,20.4070022 L7.8116386,18.5425093 L5.45217205,18.5425093 L5.75795818,17.1772308 L6.94660259,17.1772308 L6.94660259,11.0914676 L5.45217205,11.0914676 L5.45217205,9.86556427 L7.8116386,9.86556427 L7.8116386,8 L8.86381419,8 Z M10.447159,14.5615532 L8.8750584,14.5615532 L8.8750584,17.171362 L10.447159,17.171362 C11.6587392,17.171362 12.2645293,16.7552266 12.2645293,15.9229557 C12.2645293,15.015354 11.6587392,14.5615532 10.447159,14.5615532 L10.447159,14.5615532 Z M10.447159,11.0982797 L8.8750584,11.0982797 L8.8750584,13.442076 L10.447159,13.442076 C11.2533009,13.3160654 11.6563718,12.9254327 11.6563718,12.2701778 C11.6563718,11.6149229 11.2533009,11.2242902 10.447159,11.0982797 L10.447159,11.0982797 Z" id="Combined-Shape" fill="#FFFFFF" transform="translate(9.954473, 14.203501) rotate(15.000000) translate(-9.954473, -14.203501) "></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span style="color: white; font-size: 18px;">Bounties</span>
                    </a>
                </li>
                {% if g.user %}
                <li class="nav-item pb-2">
                    <a href="{{ url_for('bombadillo.notifications', username=g.user.username )}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                        </svg>
                        <span style="color: white; font-size: 18px;">Notifications {% if g.user.unread_notification_count > 0 %}<span class="badge badge-pill badge-danger">{{ g.user.unread_notification_count }}</span>{% endif %}</span>
                    </a>
                </li>
                <li class="nav-item pb-2">
                    <a href="{{ url_for('bombadillo.user_likes', username=g.user.username )}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                        <span style="color: white; font-size: 18px;">Likes</span>
                    </a>
                </li>
                <li class="nav-item pb-2">
                    <a href="{{ url_for('bombadillo.user_bookmarks', username=g.user.username )}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        </svg>
                        <span style="color: white; font-size: 18px;">Bookmarks</span>
                    </a>
                </li>
                <li class="nav-item pb-2">
                    <a href="{{ url_for('bombadillo.user_zaps', username=g.user.username )}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-lightning" viewBox="0 0 16 16">
                            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
                        </svg>
                        <span style="color: white; font-size: 18px;">Zaps</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
