<!doctype html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="robots" content="noimageindex, noarchive">
            <meta name="description" content="Earn sats for your digital content. A marketplace for content creators and consumers to exchange bitcoin">
            <meta name="author" content="junkbite">
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
            <meta name="msvalidate.01" content="0D4B4EB23B2360B96568D8CA91B18D6E" />
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
            {% block styles %}
                <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.min.css') }}">
                <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
                <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
                <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
                <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
                {{ bootstrap.load_js() }}
                <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
            {% endblock %}
            <title>Junkbite Admin {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body style="background-color: #fafafa;">
        {% include 'admin/_admin_navigation_mobile.html' %}
        <div>
            <div class="adminSidebar bg-primary d-none d-md-block col-2 pb-5">
                <h3 class="text-light pl-3"><a class="text-reset text-decoration-none" href="{{ url_for('admin.admin') }}">JB Admin</a></h3>
                <a href="{{ url_for('bombadillo.explore') }}">Back to Junkbite</a>
                <hr>
                <h5 class="text-muted pl-3">Configuration</h5>
                <a class="text-light" href="{{ url_for('admin.admin_view') }}">Model View Configuration</a>
                <a class="text-light" href="{{ url_for('admin.admin_lightning_app_config') }}">Lightning App Config</a>
                <hr>
                <h5 class="text-muted pl-3">Model Views</h5>
                <a href="{{ url_for('admin.admin_payment_fees') }}">Payment Fees</a>
                <a href="{{ url_for('admin.admin_settings') }}">Settings</a>
                <a href="{{ url_for('admin.admin_faqs') }}">FAQs</a>
                <a href="{{ url_for('admin.admin_users') }}">Users</a>
                <a href="{{ url_for('admin.admin_user_balances') }}">User Balances</a>
                <a href="{{ url_for('admin.admin_user_balance_entries') }}">User Balance Entries</a>
                <a href="{{ url_for('admin.admin_posts') }}">Posts</a>
                <a href="{{ url_for('admin.admin_bounties') }}">Bounties</a>
                <a href="{{ url_for('admin.admin_bounty_responses') }}">Bounty Responses</a>
                <a href="{{ url_for('admin.admin_comments') }}">Comments</a>
                <a href="{{ url_for('admin.admin_payments') }}">Payments</a>
                <a href="{{ url_for('admin.admin_withdrawals') }}">Withdrawals</a>
                <a href="{{ url_for('admin.admin_notifications') }}">Notifications</a>
                <a href="{{ url_for('admin.admin_blogs') }}">Blog</a>
                <a href="{{ url_for('admin.admin_emails') }}">Emails</a>
                <hr>
                <h5 class="text-muted pl-3">Support and Feedback</h5>
                <a href="{{ url_for('admin.admin_send_payment') }}">Send Payments</a>
                <a href="{{ url_for('admin.admin_support') }}">Support Tickets</a>
                <a href="{{ url_for('admin.admin_feedback') }}">User Feedback</a>
                <a href="{{ url_for('admin.admin_reported_content') }}">Reported Content</a>
            </div>
            <div class="adminMain pt-5 col-md-8 offset-md-3">
                <div>{% block header %}{% endblock %}</div>
                {% for message in get_flashed_messages() %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% block content %}{% endblock %}
                <hr>
                {% include '_footer.html' %}
            </div>
            {% block scripts %}
                <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/main.js') }}"></script>
                <script src="{{ url_for('static', filename='js/toast.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
                <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
            {% endblock %}
        </div>
    </body>
</html>
