<!doctype html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="robots" content="noimageindex, noarchive">
            <meta name="description" content="Earn sats for your digital content. A marketplace for content creators and consumers to exchange bitcoin">
            <meta name="author" content="junkbite">
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
            <meta name="msvalidate.01" content="0D4B4EB23B2360B96568D8CA91B18D6E" />
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
            {% block more_meta_tags %}
                <meta name="twitter:card" content="summary" />
                <meta name="twitter:site" content="@junkbite_tweets" />
                {% if post %}
                    <meta name="twitter:title" content="{{ post.title }}" />
                    <meta name="twitter:description" content="junkbite - lightning payable content" />
                    <meta name="twitter:image" content="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}" />
                {% else %}
                    <meta name="twitter:title" content="explore memes, articles, art, etc" />
                    <meta name="twitter:description" content="junkbite - lightning payable content" />
                    <meta name="twitter:image" content="{{ url_for('static', filename='images/landing-page.png') }}" />
                {% endif %}
            {% endblock %}
            {% block styles %}
                <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.min.css') }}">
                <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
                <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
                <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
                <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
                {{ bootstrap.load_js() }}
            {% endblock %}
            <title>junkbite {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body style="background-color: #fafafa;">
        {% from "macros.html" import modal_invoice with context %}
        {% include '_navigation_bar.html' %}
        <br>
        <div class="container">
            <div>
              {% block header %}{% endblock %}
            </div>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% block content %}{% endblock %}
            <div class="d-block d-lg-none"> <!-- show botton menu on mobile devices -->
                {% include '_navigation_bottom_bar.html' %}
            </div>
            <hr>
            {% include '_footer.html' %}
            {% block scripts %}
                <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/main.js') }}"></script>
                <script src="{{ url_for('static', filename='js/toast.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
