<script language="javascript">
    function increaseHeight(e){
       e.style.height = 'auto';
       var newHeight = (e.scrollHeight > 32 ? e.scrollHeight : 32);
       e.style.height = newHeight.toString() + 'px';
    }  
</script>
<div class="pt-2" id="commentFormNested{{ comment.comment_code }}" style="display: none; margin-left: 40px;">
    <form class="form-group mb-0">
        <div>
            <hr class="m-1">
            <textarea type="text"
                class="form-control commentCompose text-dark pl-0"
                id="inlineCommentNested{{ comment.comment_code }}"
                rows="1"
                color="black"
                name="comment"
                maxlength="300"
                autocomplete="off"
                placeholder="Reply"
                onkeyup="increaseHeight(this);"></textarea>
                <div class="pl-2 pr-2">
                    <div id='show-image' class="mt-1">
                        <video id='load-video{{ comment.comment_code }}' style="display: none;" controls autoplay muted loop>
                            <source id=source-me type='video/webm'>
                            <source id=source-me type='video/mp4'>
                                <source id=source-me type='video/mov'>
                        </video>
                        <img id='load-img{{ comment.comment_code }}' style="display: none;" alt="" />
                    </div>
                </div>
                
                <hr class="m-1">
        </div>
        <div class="row justify-content-around" style="margin: 0;">
            <span class="look-like-a-link pl-1 pt-2" onclick="showGifSearch('{{ comment.comment_code }}')">GIF</span>
            <button class="col-3 btn btn-primary float-right" type="button" role="button" onclick="submitCommentNested('{{ comment.post_code }}', '{{ comment.comment_code }}')">Reply</button>
        </div>
        <div class="row pl-4 pt-2" style="display: none;" id="gifSearchDiv{{ comment.comment_code }}">
            <input class="form-control col mr-3" type="text" name="gifSearch{{ comment.comment_code }}" id="gifSearch{{ comment.comment_code }}" autocomplete="off" placeholder="GIF Search">
            <input style="display: none;" type="text" name="gif{{ comment.comment_code }}" id="gif{{ comment.comment_code }}" value="">
            <button class="col-3 btn btn-warning mr-3 p-1" role="button" type="button" onclick="getGifs('{{ comment.comment_code }}')">Search</button>
        </div>
    </form>
    <div class="card-columns pt-1" id="tenorGifResponse{{ comment.comment_code }}" style="display: none;"></div>
</div>
<div id="commentNotLoggedInForm{{ comment.comment_code }}" style="display: none;">
    <small class="pl-1">Login to reply to this post</small>
</div>
