<div class="commentCard {{ 'pl-2' if comment.comment_id else '' }}"
    id="commentDiv{{ comment.comment_code }}">
    <nav class="nav navbar-expand" onclick="expandComment('{{ comment.comment_code }}')">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url_for('bombadillo.view_user', username=comment.user.username) }}">
                        {% if comment.user.unique_filename %}
                        <img style="height: 32px; width: 32px;"
                            src="{{ url_for('static', filename='images/{}'.format(comment.user.unique_filename) ) }}"
                            class="rounded-circle" alt="">
                        {% else %}
                        <img style="height: 32px; width: 32px;"
                            src="{{ url_for('static', filename='images/default-profile.png') }}"
                            class="rounded-circle" alt="">
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item pl-2 pt-1 pr-3 text-wrap text-break">
                    <span class="font-weight-bold">{{ comment.user.username }}</span>
                </li>
            </ul>
            <div class="text-wrap text-break pb-1" style="margin-left: 40px;">
                <span>{{ comment.body|process_post_text|safe }}</span>
            </div>
            {% if comment.unique_filename and comment.tenor_gif %}
            <div style="margin-left: 40px;">
                <img class="rounded" src="{{ comment.unique_filename }}" alt=""/>
            </div>
            {% endif %}
            <ul class="nav justify-content-around pt-2 pl-2">
                <li class="nav-item pr-2">
                    <span class="pr-1" onclick="likeComment('{{ comment.comment_code }}')">
                        {% if not comment.liked %}
                        <svg id="commentNoHeart{{ comment.comment_code }}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                        <svg id="commentHeart{{ comment.comment_code }}" style="display: none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                        {% else %}
                        <svg style="display: none;" id="commentNoHeart{{ comment.comment_code }}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                        <svg id="commentHeart{{ comment.comment_code }}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                        {% endif %}
                    </span>
                    <span>
                        {% if comment.like_count == 0 %}
                        <small class="text-warning" id="commentLikeCount{{ comment.comment_code }}"></small>
                        {% else %}
                        <small class="text-warning" id="commentLikeCount{{ comment.comment_code }}">{{ comment.like_count }}</small>
                        {% endif %}
                    </span>
                </li>
                <li class="nav-item pr-2">
                    <span class="icon-action-button pr-1" onclick="toggleZapCommentForm('{{ comment.comment_code }}')">
                        {% if not comment.zapped %}
                        <svg id="lightning-unfilled{{ comment.comment_code }}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
                        </svg>
                        <svg id="lightning-filled{{ comment.comment_code }}" style="display: none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="purple" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                        </svg>
                        {% else %}
                        <svg id="lightning-unfilled{{ comment.comment_code }}" style="display: none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                        </svg>
                        <svg id="lightning-filled{{ comment.comment_code }}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="purple" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                        </svg>
                        {% endif %}
                    </span>
                    <span>
                        {% if comment.sats_boosted == 0 %}
                        <small class="text-warning pr-1" id="satsAmount{{ comment.comment_code }}"></small>
                        {% else %}
                        <small class="text-warning pr-1" id="satsAmount{{ comment.comment_code }}">{{ comment.sats_boosted }}</small>
                        {% endif %}
                    </span>
                </li>
                <li class="nav-item pr-2">
                    {% if g.user %}
                    <span class="icon-action-button pl-1 pr-1" onclick="toggleCommentFormNested('{{ comment.comment_code }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
                            <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                            </svg>
                    </span>
                    {% else %}
                    <span class="icon-action-button pl-1 pr-1" onclick="toggleCommentNotLoggedInFormNested('{{ comment.comment_code }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
                            <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                            </svg>
                    </span>
                    {% endif %}
                    {% if comment.comment_count > 0 %}
                        <small class="text-warning" id="commentCount{{ comment.comment_code }}">{{ comment.comment_count }}</small>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="icon-action-button" style="color: black; text-decoration: none;" id="viewMoreComment{{ comment.comment_code }}" href="{{ url_for('bombadillo.comment', comment_code=comment.comment_code) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-richtext" viewBox="0 0 16 16">
                            <path d="M7 4.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0zm-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V7.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V7s1.54-1.274 1.639-1.208zM5 9a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                        </svg>
                    </a>
                </li>
            </ul>
            {% include 'bombadillo/_comment_card_nested_comment.html' %}
            <div id="commentNotLoggedInFormNested{{ comment.comment_code }}" style="display: none;">
                <small class="pl-1">Login to reply to this post</small>
            </div>
            
        </div>
    </nav>
    <div style="margin-left: 40px;">
        {% include 'bombadillo/_zap_comment_form.html' %}
    </div>
</div>
{{ modal_invoice(id=comment.comment_code) }}
<hr class="mt-2 mb-2">
