{% if comment.author_id == g.user.id %}
<span id="help-span" class="action" onclick="toggleDeleteComment({{ comment.id }})">Delete Comment</span>
<div id="deleteComment{{ comment.id }}" style="display: none;">
    <form action="{{ url_for('bombadillo.delete_comment', comment_id=comment.id) }}" method="post">
        <input class="btn btn-primary" role="button" type="submit" value="Delete Comment" onclick="return confirm('Are you sure?');">
    </form>
</div>
{% endif %}
{% if g.user %}
<div id="flag-span">
    <span id="flag-span" class="action" onclick="toggleReportComment({{ comment.id }})">Report</span>
    <form id="reportComment{{comment.id}}"
        method="post"
        style="display: none;"
        action="{{ url_for('bombadillo.report_comment', id=comment.id) }}">
        <div class="form-group">
            <label for="reason">Reason</label>
            <textarea class="form-control" name="reason" id="reason" required></textarea>
        </div>
        <input class="btn btn-primary" role="button" type="submit" value="Submit Report">
    </form>
</div>
{% endif %}