<script language="javascript">
    function increaseHeight(e){
       e.style.height = 'auto';
       var newHeight = (e.scrollHeight > 32 ? e.scrollHeight : 32);
       e.style.height = newHeight.toString() + 'px';
    }  
</script>
<div class="card exploreCard col-lg-4 pr-0 pl-0">
    <nav class="nav navbar-expand pb-2 pl-2">
        <div class="container-fluid pt-2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url_for('bombadillo.view_user', username=user.username) }}">
                        {% if user.unique_filename %}
                        <img style="height: 32px; width: 32px;"
                            src="{{ url_for('static', filename='images/{}'.format(user.unique_filename) ) }}"
                            class="rounded-circle" alt="">
                        {% else %}
                        <img style="height: 32px; width: 32px;"
                            src="{{ url_for('static', filename='images/default-profile.png') }}"
                            class="rounded-circle" alt="">
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item pl-2 pt-1">
                    <span class="font-weight-normal">{{ user.username }}</span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card thread-card">
        <div class="card-body">
            <form id="createForm" action="{{ url_for('bombadillo.create') }}" method="post" enctype="multipart/form-data">
                <div class="form-group mb-0">
                    <textarea class="form-control p-0 junkbiteCompose"
                        type=text
                        name="title"
                        id="junkbiteCompose"
                        autocomplete=off
                        placeholder="Whats up?"
                        rows=1
                        color="black"
                        maxlength="300"
                        onkeyup="increaseHeight(this);">{{ request.form['title'] }}</textarea>
                </div>
                {% include '_image_display_in_form.html' %}
                <br>
                <div class="row">
                    <span class="look-like-a-link pl-4 pt-2" onclick="showGifSearch()">GIF</span>
                    <input class="col pl-4 pt-1 pr-1" type="file" class="form-control-file" name="file" id="getval"/>
                    <button class="col-3 btn btn-primary mr-3" role="button" onclick="submitCreateForm()">Send</button>
                </div>
                <div class="row pl-4 pt-2" style="display: none;" id="gifSearchDiv">
                    <input class="form-control col mr-3" type="text" name="gifSearch" id="gifSearch" autocomplete="off" placeholder="GIF Search">
                    <input style="display: none;" type="text" name="gif" id="gif" value="">
                    <button class="col-3 btn btn-warning mr-3" role="button" type="button" onclick="getGifs()">Search</button>
                </div>
            </form>
            <div class="card-columns pt-1" id="tenorGifResponse" style="display: none;"></div>
        </div>
    </div>
</div>
