<h5><small class="text-muted">Add a comment</small></h5>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <textarea class="form-control"
            name="comment"
            id="reply-text"
            onkeyup="copyTextToMeme(this.value)"
            autocomplete=off
            aria-describedby="commentHelp">{{ request.form['body'] }}</textarea>
        <small id="commentHelp" class="form-text text-muted">Markdown accepted - click a comment id to reply to it</small>
    </div>
    <div class="form-group">
        <label for="file">Image</label>
        <input type="file" class="form-control-file" name="file" id="getval"/>
    </div>
    <input class="btn btn-primary" role="button" type="submit" value="Submit" />
</form>
<br>
{% include '_image_display_in_form.html' %}