<div class="pr-0 pl-0 mb-2">
    <form id="createArticleForm" method="post">
        <div class="form-group">
            <input class="form-control"
                type=text
                name="title"
                id="createArticleTitle"
                value="{{ request.form['title'] }}"
                autocomplete=off
                required
                placeholder="Title"
                onkeyup="copyArticleTitleToPreview(this.value);">
        </div>
        {% include 'bombadillo/_text_editor.html' %}
        <input class="btn btn-primary" role="button" type="button" value="Publish" onclick="submitArticleForm()">
    </form>
</div>