<script language="javascript">
    function increaseHeight(e){
       e.style.height = 'auto';
       var newHeight = (e.scrollHeight > 32 ? e.scrollHeight : 32);
       e.style.height = newHeight.toString() + 'px';
    }  
</script>
<div class="card exploreCard col-lg-4 pr-0 pl-0">
    <nav class="nav navbar-expand pb-2 pl-2">
        <div class="container-fluid pt-2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url_for('bombadillo.view_user', username=user.username) }}">
                        {% if user.unique_filename %}
                        <img style="height: 32px; width: 32px;"
                            src="{{ url_for('static', filename='images/{}'.format(user.unique_filename) ) }}"
                            class="rounded-circle" alt="">
                        {% else %}
                        <img style="height: 32px; width: 32px;"
                            src="{{ url_for('static', filename='images/default-profile.png') }}"
                            class="rounded-circle" alt="">
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item pl-2 pt-1">
                    <span class="font-weight-normal">{{ user.username }}</span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card thread-card">
        <div class="card-body">
            <form id="createForm" action="{{ url_for('bombadillo.create_from_draft', post_code=post.post_code) }}" method="post" enctype="multipart/form-data">
                <div class="form-group mb-0">
                    <textarea class="form-control p-0 junkbiteCompose"
                        type=text
                        name="title"
                        id="junkbiteCompose"
                        autocomplete=off
                        placeholder="Whats up?"
                        rows=1
                        color="black"
                        maxlength="300"
                        onkeyup="increaseHeight(this);">{{ post.title }}</textarea>
                </div>
                {% if post.unique_filename %}
                <div id='show-image' class="mt-1">
                    <img id='load-img' alt="" src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}" />
                </div>
                {% endif %}
                <div id='show-image' class="mt-1">
                    <video id='load-video' style="display: none;" controls autoplay muted loop>
                        <source id=source-me type='video/webm'>
                        <source id=source-me type='video/mp4'>
                            <source id=source-me type='video/mov'>
                    </video>
                    <img id='load-img' style="display: none;" alt="" />
                </div>
                <br>
                <div class="row">
                    <input class="col" type="file" class="form-control-file" name="file" id="getval"/>
                    <button class="col-3 btn btn-primary mr-3" role="button" onclick="submitCreateForm()">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>