<div class="card thread-card">
    {% if post.title %}
    <div class="card-body">
        <p class="card-text text-break" style="white-space: pre-wrap;">{{ post.title|process_post_text|safe }}</p>
    </div>
    {% endif %}
    {% if not post.tenor_gif %}
        {% if post.unique_filename %}
            {% if (not post.unique_filename.endswith(".webm") and not post.unique_filename.endswith(".mp4") and not post.unique_filename.endswith(".mov")) %}
                <img src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}" alt=""/>
            {% else %}
                <video autoplay muted loop controls
                    src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}">
                </video>
            {% endif %}
        {% endif %}
    {% else %}
        <img src="{{ post.unique_filename }}" alt=""/>
    {% endif %}
</div>
