<div class="card exploreCard">
    {% include 'bombadillo/_explore_card_nav.html' %}
    {% if request.endpoint in ['bombadillo.post', 'bombadillo.comment'] %}
        {% include 'bombadillo/_explore_card_content.html' %}
    {% elif request.endpoint == 'bombadillo.view_user_drafts' %}
        {% if post.article %}
        <a class="explore-card-link" href="{{ url_for('bombadillo.edit_article_draft', post_code=post.post_code) }}">
            {% include 'bombadillo/_explore_card_content.html' %}
        </a>
        {% else %}
        <a class="explore-card-link" href="{{ url_for('bombadillo.edit_draft', post_code=post.post_code) }}">
            {% include 'bombadillo/_explore_card_content.html' %}
        </a>
        {% endif %}
    {% else %}
        <a class="explore-card-link" href="{{ url_for('bombadillo.post', post_code=post.post_code) }}">
            {% include 'bombadillo/_explore_card_content.html' %}
        </a>
    {% endif %}
    <div class="card-body pt-0">
        <div class="pb-1">
            <small class="text-muted">{{ post.created|strftime }}</small><br>
        </div>
        <div>
            {% include 'bombadillo/_explore_card_button_actions.html' %}
            {% include 'bombadillo/_thread_lightning_boost.html' %}
            {% include 'bombadillo/_explore_card_comment_form.html' %}
            {{ modal_invoice(id=post.post_code) }}
        </div>
    </div>
    {% if request.endpoint in ['bombadillo.post', 'bombadillo.comment'] %}
    <div class="col pt-1 pb-2" id="comments">
        <hr class="mt-1">
        {% for comment in comments %}
            {% include 'bombadillo/_comment_card_nav.html' %}
        {% endfor %}
    </div>
    {% endif %}
</div>