<nav class="nav navbar-expand pb-2 pl-2">
    <div class="container-fluid pt-2">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ url_for('bombadillo.view_user', username=post.user.username) }}">
                    {% if post.author_img %}
                    <img id="userProfileImg{{post.user.username}}" style="height: 32px; width: 32px;"
                        src="{{ url_for('static', filename='images/{}'.format(post.author_img) ) }}"
                        class="rounded-circle" onerror="loadDefaultProfileImg('userProfileImg{{post.user.username}}')" alt="">
                    {% else %}
                    <img style="height: 32px; width: 32px;"
                        src="{{ url_for('static', filename='images/default-profile.png') }}"
                        class="rounded-circle" alt="">
                    {% endif %}
                </a>
            </li>
            <li class="nav-item pl-2 pt-1">
                <span class="font-weight-normal">{{ post.user.username }}</span>
            </li>
        </ul>
    </div>
    <div class="pr-2 pt-2">
        <svg xmlns="http://www.w3.org/2000/svg"
            width="24" height="24"
            fill="currentColor"
            class="bi bi-three-dots three-dot-menu"
            viewBox="0 0 16 16"
            data-toggle="modal" data-target="#modal{{ post.post_code }}">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
        {% include 'bombadillo/_explore_card_menu_modal.html' %}
    </div>
</nav>