<div class="modal fade" id="modal{{ post.post_code }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Actions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% if g.user %}
                    <li onclick="followUserFromPost('{{ post.post_code }}', '{{post.username}}')" class="list-group-item list-group-item-action">
                        {% if not post.user.is_followed_by_you %}
                        <a id="follow-{{ post.post_code }}-{{post.username}}" class="nav-link" href="#">Follow</a>
                        {% else %}
                        <a id="follow-{{ post.post_code }}-{{post.username}}" class="nav-link" href="#">Following</a>
                        {% endif %}
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a id="flag-span" class="nav-link" href="#" onclick="toggleReportForm('{{ post.post_code }}')">Report</a>
                        <form id="reportForm{{ post.post_code }}" style="display: none;" action="{{ url_for('bombadillo.report_post', post_code=post.post_code) }}"
                            method="post">
                            <div class="form-group">
                                <label for="reason">Reason</label>
                                <textarea class="form-control" name="reason" id="reason{{ post.post_code }}" required></textarea>
                            </div>
                            <input class="btn btn-primary" role="button" type="submit" value="Submit Report">
                        </form>
                    </li>
                        {% if g.user.id == post.author_id %}
                        <li class="list-group-item list-group-item-action">
                            <a id="help-span" class="nav-link" href="#" onclick="toggleDeleteThread()">Delete Post</a>
                            <div id="dangerZone" style="display: none;">
                                <form action="{{ url_for('bombadillo.delete', post_id=post.id) }}" method="post">
                                    <input class="btn btn-primary" role="button" type="submit" value="Delete Post" onclick="return confirm('Are you sure?');">
                                </form>
                            </div>
                        </li>
                        {% endif %}
                    {% endif %}
                    <li class="list-group-item list-group-item-action">
                        <a class="nav-link" href="{{ url_for('bombadillo.post', post_code=post.post_code) }}">
                            Go to post
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <form class="form-inline">
                            <a onclick="copyLink('linkId{{ post.post_code }}', '{{ post.post_code }}')" href="#" role="button" class="nav-link">Copy link</a>
                            <input readonly id="linkId{{ post.post_code }}" type="text" value="{{ url_for('bombadillo.post', post_code=post.post_code, _external=True) }}"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>