<script language="javascript">
    function increaseHeight(e){
       e.style.height = 'auto';
       var newHeight = (e.scrollHeight > 32 ? e.scrollHeight : 32);
       e.style.height = newHeight.toString() + 'px';
    }  
</script>
<div class="pt-2" id="commentForm{{ post.post_code }}" style="display: none;">
    <form class="form-group mb-0">
        <div>
            <hr class="m-1">
            <textarea type="text"
                class="form-control commentCompose text-dark pl-0"
                id="inlineComment{{ post.post_code }}"
                rows="1"
                color="black"
                name="comment"
                maxlength="300"
                autocomplete="off"
                placeholder="Reply"
                onkeyup="increaseHeight(this);"></textarea>
                <div class="pl-2 pr-2">
                    <div id='show-image' class="mt-1">
                        <video id='load-video{{ post.post_code }}' style="display: none;" controls autoplay muted loop>
                            <source id=source-me type='video/webm'>
                            <source id=source-me type='video/mp4'>
                                <source id=source-me type='video/mov'>
                        </video>
                        <img id='load-img{{ post.post_code }}' style="display: none;" alt="" />
                    </div>
                </div>
                
                <hr class="m-1">
        </div>
        <div class="row justify-content-around" style="margin: 0;">
            <span class="look-like-a-link pl-1 pt-2" onclick="showGifSearch('{{ post.post_code }}')">GIF</span>
            {% if request.endpoint == 'bombadillo.comment' and post.comment_code %}
            <button class="col-3 btn btn-primary float-right" type="button" role="button" onclick="submitComment('{{ post.post_code }}', '{{ post.comment_code }}')">Reply</button>
            {% else %}
            <button class="col-3 btn btn-primary float-right" type="button" role="button" onclick="submitComment('{{ post.post_code }}')">Reply</button>
            {% endif %}
        </div>
        <div class="row pl-4 pt-2" style="display: none;" id="gifSearchDiv{{ post.post_code }}">
            <input class="form-control col mr-3" type="text" name="gifSearch{{ post.post_code }}" id="gifSearch{{ post.post_code }}" autocomplete="off" placeholder="GIF Search">
            <input style="display: none;" type="text" name="gif{{ post.post_code }}" id="gif{{ post.post_code }}" value="">
            <button class="col-3 btn btn-warning mr-3" role="button" type="button" onclick="getGifs('{{ post.post_code }}')">Search</button>
        </div>
    </form>
    <div class="card-columns pt-1" id="tenorGifResponse{{ post.post_code }}" style="display: none;"></div>

</div>
<div id="commentNotLoggedInForm{{ post.post_code }}" style="display: none;">
    <small class="pl-1">Login to reply to this post</small>
</div>
