{% if post.article %}
    {% include 'bombadillo/_explore_article_card.html' %}
{% else %}
    {% if not post.meme %}
        {% if post.unique_filename %}
            <div class="thread-card">
                {{ post.unique_filename }}
                {% if (not post.unique_filename.endswith(".webm") and not post.unique_filename.endswith(".mp4") and not post.unique_filename.endswith(".mov")) %}
                    <img src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}" alt=""/>
                {% else %}
                    <video autoplay muted loop controls
                        src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}">
                    </video>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        {% include 'bombadillo/_explore_meme_card.html' %}
    {% endif %}
{% endif %}
