<div class="card" id="exploreCardArticlePreview">
    <div class="card-body" style="max-height: 200px; overflow: hidden;">
        <h3 class="card-text text-muted text-break" style="white-space: pre-wrap;">{{ post.title }}</h3>
        <p class="card-text text-break" style="white-space: pre-wrap;">{{ post.body | safe }}</p>
    </div>
</div>
