<div class="card payment-card">
    <nav class="nav navbar-expand pb-2 pl-2">
        <div class="container-fluid pt-2">
            <ul class="navbar-nav float-left">
                <li class="nav-item p-1">
                    {% if notification.opened %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="orange" class="bi bi-envelope-open" viewBox="0 0 16 16">
                        <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="blue" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                    </svg>
                    {% endif %}
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item pl-2">
                    <span class="font-weight-normal">{{ notification.content }}</span><br>
                    {% if notification.opened %}
                    <small class="text-muted">Read</small>
                    {% else %}
                    <small class="font-weight-normal">New</small>
                    {% endif %}

                </li>
            </ul>
        </div>
        <div class="pr-2 pt-2">
            {% if notification.comment_id %}
            <a class="btn btn-info text-nowrap" href="{{ url_for('bombadillo.go_to_notification', comment_code=notification.content_code, notification_code=notification.notification_code) }}">View Comment</a>
            {% elif notification.post_id %}
            <a class="btn btn-info text-nowrap" href="{{ url_for('bombadillo.go_to_notification', post_code=notification.content_code, notification_code=notification.notification_code) }}">View Post</a>
            {% elif notification.bounty_id %}
            <a class="btn btn-info text-nowrap" href="{{ url_for('bombadillo.go_to_notification', bounty_code=notification.content_code, notification_code=notification.notification_code) }}">View Bounty</a>
            {% elif notification.bounty_response_id %}
            <a class="btn btn-info text-nowrap" href="{{ url_for('bombadillo.go_to_notification', bounty_code=notification.content_code, notification_code=notification.notification_code) }}">View Bounty</a>
            {% else %}
            <a class="btn btn-info text-nowrap" href="{{ url_for('bombadillo.go_to_notification', username=notification.from_user.username, notification_code=notification.notification_code) }}">View User</a>
            {% endif %}
        </div>
    </nav>
</div>