<div id="post{{ post.post_code }}">
    {% if post.article %}
    <div id="postArticle" class="card col-md-8 offset-md-2 pt-4 pb-2">
        {% include 'bombadillo/_explore_card_nav.html' %}
        <small class="text-muted">{{ post.created|strftime }}</small>
        <hr>
        <h1 class="display-4 font-weight-bold">{{ post.title }}</h1>
        {% if post.reading_time %}
        <span class="text-muted">{{ post.reading_time }} minute read</span>
        {% endif %}
        <hr>
        <div id="postArticleBody" style="font-size: 16px;">
            {{ post.body|safe }}
        </div>
        <hr>
        <div class="p-3">
            {% include 'bombadillo/_explore_card_button_actions.html' %}
            {% include 'bombadillo/_thread_lightning_boost.html' %}
            {% include 'bombadillo/_explore_card_comment_form.html' %}
            {{ modal_invoice(id=post.post_code) }}
        </div>
        {% if request.endpoint == 'bombadillo.post' %}
        <hr>
        <div class="col" id="comments">
            {% for comment in comments %}
                {% include 'bombadillo/_comment_card_nav.html' %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="row" id="post-container-{{ post.post_code }}">
        <div class="col-lg-4">
            {% include 'bombadillo/_explore_card.html' %}
        </div>
    </div>
    {% endif %}
</div>
