
<div id="zapError{{ post.post_code }}" style="display: none">
    <small class="text-danger">Invalid Amount - Max {{ max_zap if max_zap else 1000 }} sats</small>
</div>
<div id="thread-boost-form{{ post.post_code }}" style="display: none;">
    <small class="pl-1">Sats</small>
    <div class="row">
        <form class="col-8">
            <input  
                type="number"
                class="form-control mr-1"
                id="input-sats{{ post.post_code }}"
                min="1"
                max="{{ max_zap if max_zap else 1000 }}"
                step="1"
                value="200"
            >
        </form>
        <button class="col-3 btn btn-warning" onclick="getInvoice('{{ post.post_code }}', '{{ max_zap if max_zap else 1000 }}')">Zap</button>
    </div>
</div>

