<div class="card">
    {% if post.meme == 0 %}
        {% if post.unique_filename %}
            {% if (not post.unique_filename.endswith(".webm") and not post.unique_filename.endswith(".mp4") and not post.unique_filename.endswith(".mov")) %}
                <img src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}" alt=""/>
            {% else %}
                <video autoplay muted loop controls
                    src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}">
                </video>
            {% endif %}
        {% endif %}
        <div class="card-body">
            <p class="card-text">
                {{ post.title }}
            </p>
        </div>
    {% else %}
        {% include '_meme_card.html' %}
    {% endif %}
    <div class="card-body" id="post_container">
        <a href="{{ url_for('bombadillo.post', post_code=post.post_code) }}">
            <strong id=threads-title>{{ post.title }}</strong>
        </a>
        by
        <a href=" {{ url_for('bombadillo.view_user', username=post.user.username ) }}">{{ post.username }}</a>
        {{ post.created }}
        <br>
        {% include 'bombadillo/_explore_card_button_actions.html' %}
        <h3><span class="badge badge-primary">{{ post.sats_boosted }}</span></h3>
        {% include 'bombadillo/_thread_lightning_boost.html' %}
    </div>
</div>
