<div id="zapError{{ comment.comment_code }}" style="display: none">
    <small class="text-danger">Invalid Amount - Max {{ max_zap if max_zap else 1000 }} sats</small>
</div>
<div id="zapCommentForm{{ comment.comment_code }}" style="display: none;">
    <small class="pl-1">Sats</small>
    <div class="row">
        <form class="col-8">
            <input  
                type="number"
                class="form-control mr-1"
                id="zapCommentFormInput{{ comment.comment_code }}"
                min="1"
                max="{{ max_zap if max_zap else 1000 }}"
                step="1"
                value="200"
            >
        </form>
        <button class="col-3 btn btn-warning" onclick="getCommentInvoice('{{ comment.comment_code }}', '{{ max_zap if max_zap else 1000 }}')">Zap</button>
    </div>
    <hr class="mt-2 mb-2">
</div>
