{% extends 'base.html' %}

{% block content %}
<div id="create-post">
    <div id="createPostAlert" style="display: none;" class="alert alert-primary" role="alert"></div>
    {% include 'bombadillo/_create_thread_form.html' %}
    <div>
        <a class="mr-4" href="{{ url_for('bombadillo.create_article') }}">Write an Article</a>
        <a class="look-like-a-link" onclick="savePostDraft(`{{ url_for('bombadillo.save_draft') }}`)">Save as Draft</a>
    </div>
</div>
{% endblock %}
