{% extends 'base.html' %}

{% block content %}
<div class="col-md-8 offset-md-2">
    <h3 class="text-muted">Write an Article</h3>
    <div class="card p-3" id="create-post">
        <div id="createPostAlert" style="display: none;" class="alert alert-primary" role="alert"></div>
        {% include 'bombadillo/_create_article_form.html' %}
        <div>
            <a class="mr-4" href="{{ url_for('bombadillo.create') }}">Create a Regular Post</a>
            <a class="look-like-a-link" onclick="saveArticleDraft(`{{ url_for('bombadillo.save_article_draft') }}`)">Save as Draft</a>
        </div>
    </div>
    <hr>
    <div class="previewArticle card pl-3 pt-4 pr-3">
        <h3 id="previewHeader" class="text-muted"></h3>
        <hr>
        <div id="previewBody"></div>
    </div>
</div>
{% endblock %}
