{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('bombadillo.edit_profile', username=user.username) }}" enctype="multipart/form-data">
    <div id='show-image' style="max-height: 64px; max-width: 64px;">
        <video id='load-video' style="display: none;" controls autoplay muted loop>
            <source id=source-me type='video/webm'>
            <source id=source-me type='video/mp4'>
        </video>
        <img id='load-img' style="display: none; width: 100%; " alt=""  class="rounded-circle" />
    </div>
    <div class="form-group">
        <label for="avatar">Avatar</label>
        <input type="file" class="form-control-file" name="file" id=getval>
    </div>
    <div class="form-group">
        <label for="link">email</label><br>
        {% if user.email %}
        <input type="email" class="form-control" name="email" value="{{user.email}}" id="email"/>
        {% else %}
        <input type="email" class="form-control" name="email" placeholder="Email" id="email"/>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="link">web link</label><br>
        {% if user.link %}
        <input type="text" class="form-control" name="link" value="{{user.link}}" id="link"/>
        {% else %}
        <input type="text" class="form-control" name="link" placeholder="Website or Link" id="link"/>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="bio">bio</label>
        {% if user.bio %}
        <textarea class="form-control" name="bio" id="bio" autocomplete=off>{{user.bio}}</textarea>
        {% else %}
        <textarea class="form-control" name="bio" id="bio" autocomplete=off placeholder="Bio">{{ request.form['title'] }}</textarea>
        {% endif %}
    </div>
    <div class="form-group">
        <div class="form-check">
            {% if user.email_opt_out %}
            <input class="form-check-input" type="checkbox" value="opt out" name="optOut" id="optOut" checked>
            {% else %}
            <input class="form-check-input" type="checkbox" value="opt out" name="optOut" id="optOut">
            {% endif %}
            <label class="form-check-label" for="judgeCheck1">Check the box to stop recieving email notifications</label>
        </div>
    </div>
    <input class="btn btn-primary" role="button" type=submit value="Update Profile">
</form>
{% endblock %}
