{% extends 'base.html' %}

{% block content %}
<h4 class="text-muted">Draft</h4>
<div id="edit-post">
    <div id="createPostAlert" style="display: none;" class="alert alert-primary" role="alert"></div>
    {% include 'bombadillo/_edit_thread_form.html' %}
</div>
<a class="look-like-a-link" onclick="saveDraftProgress(`{{ url_for('bombadillo.edit_draft', post_code=post.post_code) }}`)">Save Progress</a>
{% endblock %}
