{% extends 'base.html' %}

{% block content %}
{% if request.endpoint in ['bombadillo.explore'] %}
<div class="pb-2">
    <form class="d-inline-flex" method="post" action="{{ url_for('bombadillo.search') }}">
        <input id="searchInputForm" class="form-control mr-1" name="search" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
        <button class="btn btn-outline-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>
    </form>
</div>
<div id="filter-select">
    <form class="row" style="margin: auto;" action="{{ url_for('bombadillo.explore') }}" method="post">
        <div class="form-group mr-2">
            <select class="form-control" id="filterSelector" name="filter" onchange="this.form.submit()">
                {% for s in selector %}
                    <option>{{s}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="scopeSelector" name="scope" onchange="this.form.submit()">
                {% for t in time_options %}
                    <option>{{t}}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>
{% endif %}
<div id="exploreContainer">
    <div class="card-columns">
        {% for post in posts %}
            {% include 'bombadillo/_explore_card.html' %}
        {% endfor %}
    </div>
    {% if posts|length == 0 %}
    <p>Theres no posts</p>
    {% endif %}
</div>
{% endblock %}
