{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <p class="card-text">
            Follow users to see their posts here
        </p>
    </div>
</div>
<hr>
<div style="overflow: hidden">
    <p>Users to Follow</p>
    {% for user in users %}
    <nav class="nav navbar-expand pb-2 pl-2">
        <div class="container-fluid pt-2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url_for('bombadillo.view_user', username=user.username) }}">
                        {% if user.unique_filename %}
                        <img style="height: 32px; width: 32px;"
                            src="{{ url_for('static', filename='images/{}'.format(user.unique_filename) ) }}"
                            class="rounded-circle" alt="">
                        {% else %}
                        <img style="height: 32px; width: 32px;"
                            src="{{ url_for('static', filename='images/default-profile.png') }}"
                            class="rounded-circle" alt="">
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item pl-2 pt-1">
                    <span class="font-weight-normal">{{ user.username }}</span>
                </li>
            </ul>
        </div>
        <div class="pr-2 pt-2">
            {% if not user.is_followed_by_you %}
                <button id="followUserButton{{user.username}}" class="btn btn-primary" onclick="followUserFromUserList('{{user.username}}')">Follow</button>
            {% else %}
                <button id="followUserButton{{user.username}}" class="btn btn-warning" onclick="followUserFromUserList('{{user.username}}')">Following</button>
            {% endif %}
        </div>
    </nav>
    {% endfor %}
    <hr>
    <button class="btn btn-warning float-right mr-10" onClick="window.location.reload();">See Posts</button>
</div>
{% endblock %}