{% extends 'base.html' %}

{% block content %}
<div id="homeContainer">
    <div class="col-lg-6 offset-lg-3 threads-column">
        {% for post in posts %}
            {% include 'bombadillo/_explore_card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
