<!doctype html>
  <body style="background-color: #0e0e0e; text-align: center;">
    <a href="{{ url_for('static', filename='images/{}'.format(image)) }}">
      {% if (not image.endswith(".webm") and not image.endswith(".mp4")) %}
        <img src="{{ url_for('static', filename='images/{}'.format(image)) }}" alt=""/>
      {% else %}
        <video autoplay muted loop controls src="{{ url_for('static', filename='images/{}'.format(image)) }}"></video>
      {% endif %}
    </a>
  </body>
</html>
