{% extends 'base.html' %}

{% block content %}
<div id="imagesContainer">
    <div id="images" class="card-columns">
        {% for post in posts %}
        <div class="card">
            <a href="{{ url_for('bombadillo.post', post_code=post.post_code) }}">
                {% if post.unique_filename %}
                    {% if (not post.unique_filename.endswith(".webm") and not post.unique_filename.endswith(".mp4") and not post.unique_filename.endswith(".mov")) %}
                        <img src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}" alt=""/>
                    {% else %}
                        <video autoplay muted loop controls src="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}"></video>
                    {% endif %}
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
