{% extends 'base.html' %}

{% block content %}
<script language="javascript">
    function increaseHeight(e){
       e.style.height = 'auto';
       var newHeight = (e.scrollHeight > 32 ? e.scrollHeight : 32);
       e.style.height = newHeight.toString() + 'px';
    }  
</script>
<div id="lightning-links">
    <div class="mb-2">
        <form action="{{ url_for('bombadillo.random_post') }}" method="post" id="random-post-invoice-form" style="display: none;">
            <input type="text" name="lightning-boost" id="lightning-boost" value="paid"/>
        </form>
        
        <div class="row border pb-3 mb-3" style="background-color: white;">
            <div class="col-md-6 pt-3 pl-4" id="randomLeft">
                <h1 class="font-weight-bold">Pay a lightning invoice,<br>See random content</h1>
                <hr>
                <p class="lead">High chance of garbage, Low chance of quality</p>
                <p class="text-muted">What are you waiting for?</p>
                <div>
                    <button class="btn btn-primary" type="submit" onclick="getGeneralInvoice('random')">Invoice Me!</button>
                </div>
            </div>
            <div class="col-md-6 border-left" id="randomRight">
                <img class="mx-auto d-block" style="width: 75%;" src="{{ url_for('static', filename='images/junkbite-random.png') }}" alt=""/>
            </div>
        </div>
        <div class="row border-top border-left border-right pb-3" style="background-color: white;">
            <div class="col pt-3 pl-4">
                <h1 class="font-weight-bold text-break">Control Junkbite's Twitter,<br>Pay with Lightning</h1>
                <hr>
            </div>
        </div>
        <div class="row border-left border-right border-bottom pb-3" style="background-color: white;">
            <div class="col pl-4">
                <div class="col pl-0">
                    <div class="card mb-3">
                        <div class="text-center pt-2">
                            <h3 class="text-muted">Send a Tweet</h3>
                            <hr>
                        </div>
                        <div class="card-body">
                            <form id="newTweetForm" action="{{ url_for('twitter.compose') }}" method="post" enctype="multipart/form-data">
                                <div class="form-group mb-0">
                                    <textarea class="form-control p-0 junkbiteCompose"
                                        type=text
                                        name="title"
                                        id="junkbiteCompose"
                                        autocomplete=off
                                        placeholder="Compose a tweet here"
                                        rows=1
                                        color="black"
                                        maxlength="300"
                                        onkeyup="increaseHeight(this);">{{ request.form['title'] }}</textarea>
                                </div>
                                {% include '_image_display_in_form.html' %}
                                <br>
                                <div class="row">
                                    <input class="col form-control-file" type="file" name="file" id="getval"/>
                                    <button class="col-3 btn btn-primary mr-3" type="button" role="button" onclick="getTwitterInvoice('send')">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="text-center pt-2">
                            <h3 class="text-muted">Update Banner Image</h3>
                            <hr>
                        </div>
                        <form action="{{ url_for('twitter.update_background_picture') }}"
                            method="post"
                            enctype="multipart/form-data"
                            id="tweet-update-banner-form">
                            <div class="form-group">
                                <div id="show-twitter-banner-image" class="mt-1">
                                    <img id="load-twitter-banner-img" style="display: none;" alt="" />
                                </div>
                                <br>
                                <div class="row">
                                    <input class="col form-control-file pl-4" type='file' name='file' id="getval-banner-img" required />
                                    <button class="col-4 btn btn-primary mr-4" type="button" onclick="getTwitterInvoice('banner')">Set Banner Image</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card mb-3">
                        <div class="text-center pt-2">
                            <h3 class="text-muted">Update Profile Image</h3>
                            <hr>
                        </div>
                        <form action="{{ url_for('twitter.update_profile_picture') }}"
                            method="post"
                            enctype="multipart/form-data"
                            id="tweet-update-profile-form">
                            <div class="form-group">
                                <div id="show-twitter-profile-image" class="mt-1">
                                    <img id="load-twitter-profile-img" style="display: none;" alt="" />
                                </div>
                                <br>
                                <div class="row">
                                    <input class="col form-control-file pl-4" type='file' name='file' id="getval-profile-img" required />
                                    <button class="col-4 btn btn-primary mr-4" type="button" onclick="getTwitterInvoice('profile')">Set Profile Image</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md twitter-feed-scroll">
                <a class="twitter-timeline" href="https://twitter.com/junkbite_tweets?ref_src=twsrc%5Etfw">Tweets by junkbite_tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
        </div>
    </div>
    {{ modal_invoice() }}
</div>
{% endblock %}
