{% extends 'base.html' %}

{% block header %}<h4 class="text-muted">Notifications</h4>{% endblock %}

{% block content %}
<div class="pb-3">
    <form method="post" action="{{ url_for('bombadillo.notifications', username=g.user.username) }}" enctype="multipart/form-data">
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="opt out" name="markAllRead" id="markAllRead">
                <label class="form-check-label" for="markAllRead">Check the box to mark all notifications as read</label>
            </div>
        </div>
        <input class="btn btn-primary" role="button" type=submit value="Mark all as read">
    </form>
</div>

<div id="notificationsContainer">
    {% for notification in notifications %}
        {% include 'bombadillo/_notification_item.html' %}
    {% endfor %}
</div>
{% endblock %}
