{% extends 'base.html' %}

{% block more_meta_tags %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@junkbite_tweets" />
<meta name="twitter:title" content="{{ post.title }}" />
<meta name="twitter:description" content="junkbite - lightning payable content" />
<meta name="twitter:image" content="{{ url_for('static', filename='images/{}'.format(post.unique_filename)) }}" />
{% endblock %}

{% block content %}
    {% include 'bombadillo/_post.html' %}
{% endblock %}