{% extends 'base.html' %}

{% block content %}
<form method="post" id='invoice-form' style="display: none;">
    <input type="text" name="lightning-boost" id="lightning-boost" value="paid"/>
</form>

<div class="row border rounded pb-3" style="background-color: white;">
    <div class="col-sm-6 pt-3 pl-4" id="randomLeft">
        <h1 class="font-weight-bold">Pay a lightning invoice<br>See random content</h1>
        <hr>
        <p class="lead">High chance of garbage, Low chance of quality</p>
        <p class="text-muted">What are you waiting for?</p>
        <div>
            <button class="btn btn-primary" type="submit" onclick="getGeneralInvoice('random')">Invoice Me!</button>
        </div>
    </div>
    <div class="col-sm-6 border-left" id="randomRight">
        <img class="rounded mx-auto d-block" style="width: 75%;" src="{{ url_for('static', filename='images/junkbite-random.png') }}" alt=""/>
    </div>
</div>
{{ modal_invoice() }}
{% endblock %}
