{% extends 'base.html' %}

{% block header %}<h4 class="text-muted">Activity - Received</h4>{% endblock %}

{% block content %}
<div id="paymentsContainer">
    {% for payment in payments %}
    <div class="card payment-card">
        <nav class="nav navbar-expand pb-2 pl-2">
            <div class="container-fluid pt-2">
                <ul class="navbar-nav float-left">
                    <li class="nav-item p-1">
                        {% if payment.status == 'completed' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                        </svg>
                        {% endif %}
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item pl-2">
                        {% if payment.payment_type %}
                        <span class="font-weight-normal">{{ payment.payment_type }}</span><br>
                        {% else %}
                        <span class="font-weight-normal">{{ payment.junkbite_app }}</span><br>
                        {% endif %}
                        <small class="text-muted">{{ payment.amount_minus_fee }} sats</small>
                    </li>
                </ul>
            </div>
            <div class="pr-2 pt-2">
                <button type="button"
                    class="btn btn-info"
                    data-toggle="modal"
                    data-target="#receiptModal{{payment.id}}">
                    Receipt
                </button>
                <div class="modal fade" id="receiptModal{{payment.id}}" tabindex="-1" aria-labelledby="receiptModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            {% if payment.status == 'completed' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                            {% endif %}
                            <div style="text-align: center;">
                                <h5 class="modal-title pl-2" id="receiptModalLabel">{{ payment.junkbite_app }}</h5>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-wrap">
                            <div class="pb-2" style="text-align: center;">
                                <h4 class="text-muted">{{ payment.amount_minus_fee }} sats</h4>
                                <small><span class="text-success">+{{ payment.amount }}</span><span class="text-danger"> -{{ payment.fee.amount }}</span> (5% fee)</small><br>
                                {% if payment.status == 'completed' %}
                                <span class="text-success">{{ payment.status }}</span>
                                {% else %}
                                <span class="text-danger">{{ payment.status }}</span>
                                {% endif %}
                            </div>
                            <div style="text-align: center;">
                                {% if payment.junkbite_app == 'bounty' %}
                                    {% if payment.bounty_id %}
                                    <a class="btn btn-info" href="{{ url_for('bounty.view_bounty', bounty_code=payment.content_code|strip_code_type) }}">View Bounty</a>
                                    {% endif %}
                                    {% if payment.bounty_response_id %}
                                        <a class="btn btn-info" href="{{ url_for('bounty.view_bounty_response', bounty_response_code=payment.content_code|strip_code_type) }}">View Response</a>
                                    {% endif %}
                                {% endif %}
                                {% if payment.junkbite_app == 'social' %}
                                    <a class="btn btn-info" href="{{ url_for('bombadillo.post', post_code=payment.content_code|strip_code_type) }}">View Post</a>
                                {% endif %}
                            </div>
                            <hr>
                            <div>
                                <span class="text-warning">Lightning Invoice</span><br>
                                <span id="lightningInvoice{{payment.id}}" style="word-wrap:break-word;">{{ payment.ln_invoice }}</span>
                            </div>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    {% endfor %}
</div>
{% endblock %}
