{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link {{ 'active' if active == 'user' else '' }}" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link {{ 'active' if active == 'post' else '' }}" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="false">Posts</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link {{ 'active' if active == 'bounty' else '' }}" id="bounty-tab" data-toggle="tab" href="#bounty" role="tab" aria-controls="bounty" aria-selected="false">Bounties</a>
    </li>
  </ul>
  <hr>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade {{ 'show active' if active == 'user' else '' }}" id="users" role="tabpanel" aria-labelledby="users-tab">
        {% for user in user_results %}
        <nav class="nav navbar-expand pb-2 pl-2">
            <div class="container-fluid pt-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ url_for('bombadillo.view_user', username=user.username) }}">
                            {% if user.unique_filename %}
                            <img style="height: 32px; width: 32px;"
                                src="{{ url_for('static', filename='images/{}'.format(user.unique_filename) ) }}"
                                class="rounded-circle" alt="">
                            {% else %}
                            <img style="height: 32px; width: 32px;"
                                src="{{ url_for('static', filename='images/default-profile.png') }}"
                                class="rounded-circle" alt="">
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item pl-2 pt-1">
                        <span class="font-weight-normal">{{ user.username }}</span>
                    </li>
                </ul>
            </div>
            <div class="pr-2 pt-2">
                {% if not user.is_followed_by_you %}
                    <button id="followUserButton{{user.username}}" class="btn btn-primary" onclick="followUserFromUserList('{{user.username}}')">Follow</button>
                {% else %}
                    <button id="followUserButton{{user.username}}" class="btn btn-warning" onclick="followUserFromUserList('{{user.username}}')">Following</button>
                {% endif %}
            </div>
        </nav>
        {% endfor %}
        {% if user_results|length == 0 %}
            <p>No users found</p>
        {% endif %}
    </div>
    <div class="tab-pane fade {{ 'show active' if active == 'post' else '' }}" id="posts" role="tabpanel" aria-labelledby="posts-tab">
        <div id="exploreContainer">
            <div class="card-columns">
                {% for post in post_results %}
                    {% include 'bombadillo/_explore_card.html' %}
                {% endfor %}
            </div>
            {% if post_results|length == 0 %}
                <p>No posts found</p>
            {% endif %}
        </div>
    </div>
    <div class="tab-pane fade {{ 'show active' if active == 'bounty' else '' }}" id="bounty" role="tabpanel" aria-labelledby="bounty-tab">
        <div id="bountiesContainer">
            <div class="card-columns">
                {% for bounty in bounty_results %}
                    {% include 'bounty/_bounty_list_item.html' %}
                {% endfor %}
            </div>
            {% if bounty_results|length == 0 %}
                <p>No bounties found</p>
            {% endif %}
        </div>
    </div>
  </div>
{% endblock %}
