{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('bombadillo.update_password', username=user.username) }}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="link">Current Password</label><br>
        <input type="password" class="form-control" name="currentPassword" placeholder="Current Password" id="currentPassword"/>
    </div>
    <div class="form-group">
        <label for="link">New Password</label><br>
        <input type="password" class="form-control" name="newPassword" placeholder="New Password" id="newPassword"/>
    </div>
    <div class="form-group">
        <label for="link">Confirm New Password</label><br>
        <input type="password" class="form-control" name="confirmNewPassword" placeholder="Confirm New Password" id="confirmNewPassword"/>
    </div>
    <input class="btn btn-primary" role="button" type=submit value="Update Password">
</form>
{% endblock %}
