{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body pb-0">
        {% if user.unique_filename %}
            <img id="userProfile{{user.username}}" style="height: 64px; width: 64px;" src="{{ url_for('static', filename='images/{}'.format(user.unique_filename) ) }}" class="rounded-circle" onerror="loadDefaultProfileImg('userProfile{{user.username}}')" alt="...">
        {% else %}
            <img style="height: 64px; width: 64px;" src="{{ url_for('static', filename='images/default-profile.png') }}" class="rounded-circle" alt="...">
        {% endif %}
        {% if g.user %}
            {% if g.user.id == user.id %}
                <div class="float-right">
                    <a class="btn btn-warning" href="{{ url_for('auth.logout') }}" role="button">Logout</a>
                </div>
            {% else %}
            <div class="float-right">
                {% if not user.is_followed_by_you %}
                <button id="followUserButton{{user.username}}" class="btn btn-primary" onclick="followUserFromUserList('{{user.username}}')">Follow</button>
                {% else %}
                <button id="followUserButton{{user.username}}" class="btn btn-warning" onclick="followUserFromUserList('{{user.username}}')">Following</button>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
        <hr>
        <div>
            <h5 class="card-title">{{ user.username }}</h5>
            {% if not g.user or g.user.id != user.id%}
                {% if user.is_following_you %}
                <span class="text-info pb-1">Follows you</span>
                <hr class="mt-1 mb-1">
                {% endif %}
            {% endif %}
            {% if g.user.id == user.id %}
            <h6><span class="text-warning">{{ balance }}</span> earned</h6>
            {% endif %}
            {% if user.bio %}
            <h6 class="text-muted">{{ user.bio|process_post_text|safe }}</h6>
            {% else %}
            <br>
            {% endif %}
            {% if user.link %}
            <a href="//{{ user.link }}" class="card-link" target="_blank">{{ user.link }}</a>
            {% endif  %}
        </div>
        <hr class="mt-1 mb-1">
        <div class="row pb-1">
            {% if request.endpoint == 'bombadillo.view_user' %}
            <div class="col-4 text-center">{{ posts | length }}<br>Posts</div>
            {% else %}
            <div class="col-4 text-center">{{ posts | length }}<br>Drafts</div>
            {% endif %}
            <div class="col-4 text-center"><a href="{{ url_for('bombadillo.user_followers', username=user.username) }}">{{ user.follower_count }}<br>Followers</a></div>
            <div class="col-4 text-center"><a href="{{ url_for('bombadillo.user_following', username=user.username) }}">{{ user.followee_count }}<br>Following</a></div>
        </div>
    </div>
    {% if g.user.id == user.id %}
    <hr class="mt-1 mb-1">
    <div class="container card-body">
        <h6 class="text-muted">Actions</h6>
        <div class="row ml-1">
            {% if not user.email_verified %}
            <a class="col-sm-2 btn btn-success mr-3 mt-1" href="{{ url_for('auth.resend_confirm_email') }}" role="button">Confirm Email</a>
            {% endif %}
            <a class="col-sm-2 btn btn-success mr-3 mt-1" href="{{ url_for('bombadillo.withdraw') }}" role="button">Withdraw Rewards</a>
            <a class="col-sm-2 btn btn-dark mr-3 mt-1" href="{{ url_for('bombadillo.edit_profile', username=user.username) }}" role="button">Edit Profile</a>
            <a class="col-sm-2 btn btn-dark mr-3 mt-1" href="{{ url_for('bombadillo.update_password', username=user.username) }}" role="button">Update Password</a>
            <a class="col-sm-2 btn btn-dark mr-3 mt-1" href="{{ url_for('bombadillo.view_user_drafts', username=user.username) }}" role="button">Drafts</a>
        </div>
    </div>
    <div class="container card-body">
        <h6 class="text-muted">Activity</h6>
        <div class="row ml-1">
            <a class="col-sm-2 btn btn-info mr-3 mt-1" href="{{ url_for('bombadillo.notifications', username=user.username) }}" role="button">Notifications {% if g.user.unread_notification_count > 0 %}<span class="badge badge-pill badge-danger">{{ g.user.unread_notification_count }}</span>{% endif %}</a>
            <a class="col-sm-2 btn btn-info mr-3 mt-1" href="{{ url_for('bombadillo.received_payment_history') }}" role="button">Received</a>
            <a class="col-sm-2 btn btn-info mr-3 mt-1" href="{{ url_for('bombadillo.sent_payment_history') }}" role="button">Sent</a>
        </div>
    </div>
    <div class="container card-body">
        <h6 class="text-muted">Bounty Activity</h6>
        <div class="row ml-1">
            <a class="col-sm-2 btn btn-warning mr-3 mt-1" href="{{ url_for('bounty.user_bounties', username=user.username) }}" role="button">Bounties</a>
            <a class="col-sm-2 btn btn-warning mr-3 mt-1" href="{{ url_for('bounty.user_responded_bounties', username=user.username) }}" role="button">Bounty Responses</a>
        </div>
    </div>
    <div class="container card-body">
        <h6 class="text-muted">Saves</h6>
        <div class="row ml-1">
            <a class="col-sm-2 btn btn-info mr-3 mt-1" href="{{ url_for('bombadillo.user_likes', username=user.username) }}" role="button">Likes</a>
            <a class="col-sm-2 btn btn-info mr-3 mt-1" href="{{ url_for('bombadillo.user_bookmarks', username=user.username) }}" role="button">Bookmarks</a>
            <a class="col-sm-2 btn btn-info mr-3 mt-1" href="{{ url_for('bombadillo.user_zaps', username=user.username) }}" role="button">Zaps</a>
        </div>
    </div>
    {% endif %}
</div>
<hr>
<div id="userPostsContainer">
    <div class="card-columns">
        {% for post in posts %}
            {% include 'bombadillo/_explore_card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
