<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noimageindex, noarchive">
        <meta name="description" content="Earn sats for your digital content. A marketplace for content creators and consumers to exchange bitcoin">
        <meta name="author" content="junkbite">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
        <meta name="msvalidate.01" content="0D4B4EB23B2360B96568D8CA91B18D6E" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
            {{ bootstrap.load_js() }}
        <title>junkbite - confirm your email</title>
    </head>
    <body style="background-color: #fafafa;">
        <div class="container">
            <div class="card pl-5 pt-5 pb-5">
                <h3>Open the confirmation email we sent to you to verify your email</h3>
                <p>That link will redirect you to junkbite</p>
            </div>
        </div>
    </body>
</html>
