{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body pb-0">
        <a href="{{ url_for('bombadillo.view_user', username=user.username) }}">
            {% if user.unique_filename %}
                <img id="userProfile{{user.username}}" style="height: 64px; width: 64px;" src="{{ url_for('static', filename='images/{}'.format(user.unique_filename) ) }}" class="rounded-circle" onerror="loadDefaultProfileImg('userProfile{{user.username}}')" alt="...">
            {% else %}
                <img style="height: 64px; width: 64px;" src="{{ url_for('static', filename='images/default-profile.png') }}" class="rounded-circle" alt="...">
            {% endif %}
        </a>
        <hr>
        <div>
            <h5 class="card-title">{{ user.username }}</h5>
            {% if g.user.id == user.id %}
            <h6><span class="text-warning">{{ balance }}</span> earned</h6>
            {% endif %}
            {% if user.bio %}
            <h6 class="text-muted">{{ user.bio|process_post_text|safe }}</h6>
            {% else %}
            <br>
            {% endif %}
            {% if user.link %}
            <a href="{{ user.link }}" class="card-link" target="_blank">{{ user.link }}</a>
            {% endif  %}
        </div>
        <hr class="mt-1 mb-1">
        <div class="row pb-1">
            <div class="col-4 text-center">{{ posts | length }}<br>Drafts</div>
            <div class="col-4 text-center"><a href="{{ url_for('bombadillo.user_followers', username=user.username) }}">{{ user.follower_count }}<br>Followers</a></div>
            <div class="col-4 text-center"><a href="{{ url_for('bombadillo.user_following', username=user.username) }}">{{ user.followee_count }}<br>Following</a></div>
        </div>
    </div>
</div>
<hr>
<div id="userPostsContainer">
    <h3 class="text-muted">Draft Posts</h3>
    <div class="card-columns">
        {% for post in posts %}
            {% include 'bombadillo/_explore_card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
