{% extends 'base.html' %}

{% block content %}
<div>
    <h6><span class="text-warning">{{ user_balance }}</span> sats available</h6>
    <form method="post" action="{{ url_for('bombadillo.withdraw') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ln-invoice">Create an invoice with your lightning wallet and paste it below. <a href="{{ url_for('information.faq') }}">help</a></label><br>
            <input type="text" class="form-control" name="ln-invoice" placeholder="lightning invoice" id="ln-invoice" autocomplete="off" required/>
        </div>
        <input class="btn btn-primary" role="button" type=submit value="Submit Withdrawal Request" {{ 'disabled' if settings.withdrawals_frozen else '' }}>
    </form>
</div>
<hr>
<div>
    <h4 class="text-muted">Withdrawals</h4>
    {% for withdraw in withdrawals %}
    <div class="card payment-card">
        <nav class="nav navbar-expand pb-2 pl-2">
            <div class="container-fluid pt-2">
                <ul class="navbar-nav float-left">
                    <li class="nav-item p-1">
                        {% if withdraw.status == 'completed' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                        {% elif withdraw.status == 'requested' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="orange" class="bi bi-clock-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-slash-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.646-2.646a.5.5 0 0 0-.708-.708l-6 6a.5.5 0 0 0 .708.708l6-6z"/>
                        </svg>
                        {% endif %}
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item pl-2">
                        <small>{{ withdraw.amount }} sats</small><br>
                        <small class="text-muted">{{ withdraw.created|strftime }}</small>
                    </li>
                </ul>
            </div>
            <div class="pr-2 pt-2">
                <button type="button"
                    class="btn btn-info"
                    data-toggle="modal"
                    data-target="#receiptModal{{withdraw.id}}">
                    Receipt
                </button>
                <div class="modal fade" id="receiptModal{{withdraw.id}}" tabindex="-1" aria-labelledby="receiptModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            {% if withdraw.status == 'completed' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                            {% elif withdraw.status == 'requested' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="orange" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-slash-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.646-2.646a.5.5 0 0 0-.708-.708l-6 6a.5.5 0 0 0 .708.708l6-6z"/>
                            </svg>
                            {% endif %}
                            <div style="text-align: center;">
                                <h5 class="modal-title pl-2" id="receiptModalLabel">Withdrawal Receipt</h5>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-wrap">
                            <div class="pb-2" style="text-align: center;">
                                <h4 class="text-muted">{{ withdraw.amount }} sats</h4>
                                {% if withdraw.status == 'completed' %}
                                <span class="text-success">{{ withdraw.status }}</span>
                                {% else %}
                                <span class="text-danger">{{ withdraw.status }}</span>
                                {% endif %}
                                <br>
                                <small class="text-info">{{ withdraw.notes }}</small>
                            </div>
                            <div class="mb-1">
                                <span class="text-warning">Lightning Invoice</span><br>
                                <span id="lightningInvoice{{withdraw.id}}" style="word-wrap:break-word;">{{ withdraw.ln_invoice }}</span>
                            </div>
                            <div>
                                <span class="text-info">Support Reference Code:</span> {{ withdraw.withdrawal_code }}
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    {% endfor %}
</div>
{% endblock %}
